[2019-04-17 20:07] bowdenk7 opened #14 "Create devcontainers for popular repos"
This issue is meant to be a hit list of repos that we want to have devcontainers for and any known issues associated with getting those setup.

For the most part these are the most forked repos on GitHub as well as some other notable projects.

| Repo | Owner  | Done | Tested | Known Issues  |
|---|---|---|---|---|
| [Angular](https://github.com/angular/angular) | @bowdenk7 | Yes  | No  |   |
| [B

[2019-05-04 06:26] brunoborges opened #31 "[java] Simplify Dockerfiles"
Currently, the Dockerfiles for Java are based on Maven and then they add Gradle manually.

Nowadays it is common for Java projects (whether Maven or Gradle) to come with proper wrappers that will download either of these build tools when build is first triggered, therefore making it the case where the installed version may not even be used, if different than what is defined in the project.

Simpli

[2019-05-04 22:15] Chuxel commented on #31
@testforstephen - Thoughts?

[2019-05-04 23:38] brunoborges commented on #31
I'd also add that it is best to keep the basic image profiles simple and small, while also allowing users to customize/modify the setup in `.devcontainer` as they want.

Once [this enhancement](https://github.com/Microsoft/vscode-remote-release/issues/115) is delivered, users can then choose the publicly available Maven or Gradle images from Docker Hub.

[2019-05-04 23:52] Chuxel commented on #31
Let's set this topic aside here. This repo is intended to be for curated definitions that are known to work and be customizable.

[2019-05-05 03:43] testforstephen commented on #31
My opinion is keeping maven as the base image, because maven is the current dominant build tool. This will make sure most of java project works regardless of it containing mvn wrapper or not.

But we could wipe out the gradle part from the predefined dockerfile. Instead, comment some alternative base image in the dockerfile header.
[code]

[2019-05-06 12:57] Shikanime opened #33 "Kubernetes missing certificate"
- VSCode Version: 1.34.0-insider (1.34.0-insider)
- Local OS Version: macOS Mojare 10.14.4 (18E226)
- Name of Dev Container Definition with Issue: Kubernetes & Helm

Steps to Reproduce:

1. Click on "Reopen on Container"
2. New terminal

Context:

Minikube certificates are not pull and paths are not replaced in the kube configuration.

[code]

[2019-05-06 15:22] Chuxel commented on #33
@Shikanime Thanks so much for the PR on this - it is a good catch!  Let's continue the conversation on the PR.

[2019-05-07 13:05] chrmarti opened #37 "Miniconda image doesn't build"
On Windows 10 with the latest Insiders and Remote Containers.

It says `AttributeError: 'str' object has no attribute 'copy'` towards the end.

[code]

[2019-05-07 13:58] Chuxel commented on #37
@chrmarti Strange - this is new.  Possibly a bug in the miniconda image looking at it.  @qubitron Any idea?

[2019-05-07 16:24] qubitron commented on #37
@chrmarti do you have an environment.yml in the workspace root? If so this could be a failure of conda to install the packages.

The container builds fine for me when there is no environment.yml.

[2019-05-07 16:36] Chuxel commented on #37
@qubitron Its failing when installing the packages in the environment.yml for the test project so you are probably right.

[2019-05-07 19:29] mcmatthew opened #38 "Open folder in container starts all compose services"
First, thanks for all these updates.  Great stuff!

Details:
OS: Windows 10 1809
VSCode: 1.34.0-insider

While working with the new updates and trying to integrate it into my existing compose file, it seems like running the 'Open folder in container' command starts all docker-compose services and I don't see where it's using the service name I provide in the .devcontainer/devcontainer.json.

My do

[2019-05-09 21:25] brunoborges commented on #31
I see two issues today with this Dockerfile having both Gradle and Maven out of the box:

1. Projects use either Maven or Gradle. Never both.
1. When the image is built, it takes a while because it needs to pull the `maven:3-jdk-8` image, and then during build it will download the Gradle package. This adds up in build time.
1. Users want either JDK only, Maven (JDK implicit) or Gradle (JDK implici

[2019-05-09 21:34] Chuxel commented on #31
@brunoborges We might want to be a bit careful on the number of variations reasonable since splitting maven and gradle would double everything.

@brunoborges @testforstephen  A suggestion - perhaps the thing to do here would be to start from `openjdk` and then have the maven **and** gradle install steps commented out in the Dockerfile.  The main addition to the current files would be maven install

[2019-05-09 21:37] brunoborges commented on #31
@Chuxel the problem is that the image build is triggered right after I select Open/Reopen, which does not give me time to adjust the Dockerfile accordingly.

[2019-05-09 21:39] Chuxel commented on #31
@brunoborges Depends on how you add them to your project. **Remote-Containers: Add Container Configuration Files...** does not do that.  You can also **Remote-Containers: Rebuild Container** to make changes.

As an alternative, both could be installed by default with a note to comment out the one they don't use.

[2019-05-09 21:42] brunoborges commented on #31
The action is labeled `>Create Container Configuration File` which is why I was confused. Perhaps it should be `Add Predefined Container Configuration`.

[2019-05-09 21:44] brunoborges commented on #31
I also wouldn't be concerned with a "big list". There are large sets already:

Python:
![image](https://user-images.githubusercontent.com/129743/57488747-5b0ad280-728a-11e9-82ad-aa1f4a9f8e81.png)

Node:
![image](https://user-images.githubusercontent.com/129743/57488767-6b22b200-728a-11e9-9fb7-93ffaa364db9.png)

[2019-05-09 21:44] Chuxel commented on #31
@brunoborges It also supports existing `Dockerfiles` and `docker-compose.yml` which are not-predefined.  (In fact so does open folder in container). The configuration file it creates is `devcontainer.json`.

[2019-05-09 21:45] brunoborges commented on #31
But selecting the current action `Create Container Configuration File...` I get a `.devcontainer` folder with devcontainer.json, Dockerfile, and settings.vscode.json.

So...

[2019-05-09 21:47] Chuxel commented on #31
@brunoborges Yes, but these are all unique language configurations and runtimes.  (JS and TS is more like Java and Groovy.)  Python has distinct runtime distributions targeted at different use cases like Anaconda. The Node definitions include both the npm and yarn packaging systems.  They also do not include build systems at all.  If we added "gulp" and "grunt" to the Node definitions, they'd all

[2019-05-09 21:51] Chuxel commented on #31
If you pick a definition with those, yes. As I said, that's not the only outcome since you can reuse an existing Dockerfile.  "Dev Container Definition" is the term for these pre-defined ones, but you don't have to pick one of those at all if you've got existing container config.

[2019-05-09 21:58] brunoborges commented on #31
Well, I'm trying to help enhance the Day 1 experience for Java developers.

[2019-05-09 22:01] brunoborges commented on #31
The easiest way to get started is by picking a predefined configuration, and then adjust accordingly.

So we are down to this so far:

1. Change label to `Add Container Configuration...`
1. Simplify Dockerfile for Java apps to not extend from Maven and instead have helper instructions to adjust accordingly to user's preference.

[2019-05-09 22:09] Chuxel commented on #31
Lets separate this one since it's a bit off topic.  We probably need to brainstorm a bit on what we'd call it... "container configuration"  may be the problem since that implies Dockerfile to some extent.  We can raise the topic for feedback on vscode-remote-release since that's where product discussions are happening.

Yep - I'd suggest you guys chat and decide what you want to do.  I'm mainly pr

[2019-05-10 16:10] preconception opened #42 "Node + Postgres"
Could you make a container template with node + postgres instead of mongodb?

[2019-05-10 16:13] Chuxel commented on #42
@preconception Thanks for the request!

The great news is that this is an open source repository, so we'd welcome any contributions in this area you're interested in making.  See [here](https://github.com/microsoft/vscode-dev-containers/blob/master/CONTRIBUTING.md#contributing-dev-container-definitions) for details.

[2019-05-16 09:46] Shikanime opened #43 "Add Bazel development container"
Add a Bazel development container.

[2019-05-16 09:47] Shikanime commented on #43
I'll make a pull request later this week.

[2019-05-17 10:53] DanTup opened #45 "Use something like vscodeignore instead of npmignore for ignored files?"
In https://github.com/microsoft/vscode-dev-containers/blob/master/CONTRIBUTING.md it says:

It feels really weird to put npmignore files in projects that have nothing to do with NPM and VS Code to use them. VS Code already has its own ignore file (for publishing extensions) so it seems like using that (or something else project-agnostic) would make much more sense than this? When tweaking the Dart

[2019-05-17 14:47] Chuxel commented on #45
@DanTup Yeah, currently the contents of `.npmignore` are used in pulling the definition into the UX in the Remote - Containers extension when you run the Remote-Conatiners: Add Container Configuration File... or open / reopen a folder in container when there's no definition in the folder.  There is a npm pacakge that gets generated to cause this to happen. We can definitely make that clearer in CO

[2019-05-17 15:09] DanTup commented on #45
Ah, that makes more sense now then :-) I still think it's weird though, so I think it's better to hide that implementation detail.

Just to confirm I understand this correctly - the folders in this repo (for ex `dart`) are serving both as fully-contained samples (with the test-project folder), but also can be used with arbitrary folders (in which case the definition is used, but the test-project f

[2019-05-17 16:07] Chuxel commented on #45
@DanTup Yeah its primary purpose is really to provide general purpose configurations for people to use in their own projects.  This is why the project assets are not in the root of the folder. The test project folder is primarily there for contributors and reviewers to test the configurations. They can also be used by customers to see one of the definitions in action, but not all definitions have

[2019-05-17 18:11] DanTup commented on #45
@Chuxel thanks, that makes more sense! I got a bit confused when testing the Dart one about how the lifetime of the container and the open folder were related (I thought they were the same, but when I closed a Folder, I was still connected to the container!), but it makes more sense now I realise they're separate, but just bundled together here for convenience :-)

[2019-05-18 01:46] isvoboda opened #50 "Python Interactive does not work in Python 3 Anaconda dev container"
- VSCode Version: 1.35.0-insider (snap)
- Local OS Version: Arch Linux
- Name of Dev Container Definition with Issue: Python 3 Anaconda (https://github.com/microsoft/vscode-dev-containers/tree/master/containers/python-3-anaconda)

Steps to Reproduce:

1. Follow the Readme.md
2. Run the Interactive Python - get stuck starting jupyter-server

I am not sure if the problem is related to vscode-python

[2019-05-20 21:16] Chuxel commented on #50
@isvoboda As discussed on that thread and the related https://github.com/microsoft/vscode-remote-release/issues/376, this may be some sort of regression and does not appear to be related to the dev container itself on the surface.  Let's continue the conversation in these other two issues.

[2019-05-20 21:16] #50 closed

[2019-05-20 21:26] Chuxel opened #51 "Default shell is now /bin/sh for all dev container definitions"
A recent update had VS Code respect the default shell that the OS sets.  An unfortunate side effect of this is that VS Code now uses `/bin/sh` as the shell since the SHELL env var is not set.  Containers like `kubernetes-helm` rely on `.bashrc` which will fail with normal `sh`.

To avoid this problem, I propose we update all dockerfiles in dev container definitions to include:

`ENV SHELL /bin/bas

[2019-05-21 07:28] chrmarti commented on #51
Unfortunate, but makes sense. We want the container to be prepared for development (not just deployment, like they usually are).

[2019-05-21 13:52] #51 closed

[2019-05-21 14:22] #43 closed

[2019-05-22 21:57] #33 closed

[2019-05-23 07:20] egamma opened #56 "Adopt the new 'settings' attribute in devcontainer.json"
pls see https://github.com/microsoft/vscode-remote-release/issues/409

We should simplify the existing container definitions to use this attribute (once the extension is published with the feature)

[2019-05-23 09:34] chrmarti commented on #45
I'd keep `.npmignore` while we are using NPM, that makes it obvious where to look for documentation on the supported syntax.

[2019-05-23 16:44] Chuxel commented on #56
👍 On it - first pass of updates done.  Doing some testing, then will publish.  Also adding comments to all of the devcontainer.json files that don't need it to raise visibility to it.

[2019-05-23 17:36] Chuxel commented on #56
Partially blocked by https://github.com/microsoft/vscode-remote-release/issues/435

[2019-05-24 07:05] DanTup commented on #45
That's a fair point I hadn't considered. Maybe adding a comment to the top of the npmignore file that explains what it's used for then is all that's needed (although it's in the docs, it's easy to just take a copy of the folder and assume it's not needed for your non-NPM project).

[2019-05-29 20:25] lando-cal opened #59 "Adjustable project-name flag for docker-compose"
Currently, the docker-compose command seems to base --project-name off of the parent/project folder.

Launching containers from two sub-folders of a root project, seems to namespace them in separate areas. I've yet to find a way to override this. While this may work when both containers are inheriting from a top level docker-compose file, this would mean major refactoring of our repositories to ma

[2019-06-02 19:35] kmehant opened #66 "Problem with python dev-container definitions"
- VSCode Version: **1.34.0**
- Local OS Version: **MacOS Mojave**
- Name of Dev Container Definition with Issue: `python-3` `python-2`

Steps to Reproduce:
1. After opening the definition in the container, the shell points to `/workspaces/vscode-dev-containers/containers/python-3`
2. Seems like `python-3` as workspace containing the `test-project`.
3. The new workspace directory created does not s

[2019-06-02 19:37] kmehant commented on #66
@Chuxel Would like to contribute to this.

[2019-06-03 09:29] songololo opened #67 "python-3 container template's Dockerfile unnecessarily refers to requirements.txt.temp"
- Name of Dev Container Definition with Issue: `python-3`

The `python-3` template `Dockerfile` requires a `requirements.txt.temp` file.

If this file is not present, then an error is thrown.

It copies the file into the docker build, but does not appear to do anything with this file.

Have I misunderstood the file's purpose, or is this possibly an artefact from earlier versions?

[2019-06-03 16:52] dcrouch79 commented on #51
Now the default shell has been set to `/bin/bash` the following errors/warnings appear in the output log during startup:

[code]

Not sure how significant this is though, as everything still seems to work ok.

[2019-06-03 19:34] Chuxel commented on #56
Resolved with https://github.com/microsoft/vscode-dev-containers/pull/58

[2019-06-03 19:34] #56 closed

[2019-06-04 21:14] Chuxel commented on #67
The goal is to actually install your requirements from the root folder `requirements.txt` (up a level) when the Docker image when it is built if one exists.  The `.temp` file is there to handle the scenario where there is no `requirements.txt`.  The intent here is that you drop the `.devcontainer` folder into your local repository. The `requirements.txt` in the root folder is in the `.npmignore` a

[2019-06-04 21:26] qubitron commented on #67
@Chuxel would a postCreateCommand run every time the container is created? That seems like a good solution since this is a bit of a hack to work around limitations in the Dockerfile.

[2019-06-04 21:27] Chuxel commented on #66
The reason the path is as you see it is actually to get **git** to work.  The container mount goes up to the root of the cloned git repository when one is detected.  If you do not do this, mounting a sub-folder of a git repository will prevent you from doing source control operations (since to the container it just looks like a folder).

Looks like line 12 and 18 quite conflicting with respect to

[2019-06-04 21:35] Chuxel commented on #67
@qubitron Yep - Its intended for things like this and `npm install` in the node world.  It happens whenever a new container is created (even if an image is reused or referenced directly). The up-side is it won't be cached so you'll get the latest bits each time, the down side is that is at the cost of perf for rebuilds since you don't get the advantage of layer caching.

We could probably do `pip

[2019-06-05 06:32] kmehant commented on #66
True! I agree with this. seems not an issue.

And here I think we are making two workspaces one would be the directory in which we have the **.devcontainer** folder and other is the folder **workspace** made in the root directory of the terminal. So it's better to rm the **workspace** after the job is done as it might cause some confusion to devs.

So as I have mentioned above it seems we are crea

[2019-06-05 08:10] songololo commented on #67
The `requirements.txt` makes sense to me (and the usage thereof from within the `Dockerfile` seems clear).

What I still don't understand is what the `requirements.txt.temp` file does? Particularly as it is copied into the docker container; throws an error if not present; but isn't actually used from within the container (unless I'm missing something)?

The reason I'm asking is I'm preparing some

[2019-06-05 15:17] qubitron commented on #67
@Chuxel the problem is that the workspace mount isn't available during build time, so there's still the problem of needing to copy in the requirements.txt file in a way that doesn't fail the build if it's not there

@songololo with the COPY command the the docker build will fail if the requirements.txt file isn't in the your workspace. So the requirements.txt.temp file ensures that at least there

[2019-06-05 15:18] qubitron commented on #67
@songololo I'll add that the intention is that you copy the entire .devcontainer folder in, or create it using "create container configuration files" command, so you could simplify the steps by starting with the pre-defined containers and then updating the docker file as you see fit.

[2019-06-06 00:52] Chuxel commented on #67
@qubitron The good news is that the postCreateCommand is run after the server is provisioned in the running container with the mount.  It's the last thing to happen before everything is up.

I just checked, and this will install requirements.txt if found:

[code]

[2019-06-07 01:32] millerick opened #69 "docker-compose examples do not complete"
- VSCode Version: 1.35.0-insider (1.35.0-insider) 553cfb2c2205db5f15f3ee8395bbd5cf066d357d
- Local OS Version: OS X 10.14 Mojave
- Name of Dev Container Definition with Issue: https://github.com/microsoft/vscode-dev-containers/tree/master/containers/javascript-node-lts-mongo

Steps to Reproduce:

1. Follow the instructions in the README on how to test the definition: https://github.com/microsoft/v

[2019-06-07 19:54] talohana opened #71 "Open folder with docker-compose hangs after creating container"
- VSCode Version: 1.35.0
- Local OS Version: Windows 10 64 bit, using docker toolbox version 18.03.0-ce
- Name of Dev Container Definition with Issue: [docker-compose template](https://github.com/microsoft/vscode-dev-containers/tree/master/container-templates/docker-compose)

Steps to Reproduce:

1. Clone this repository
2. Navigate to `container-templates/docker-compose` folder and run `code .`
3

[2019-06-07 20:48] Chuxel commented on #71
@talohana I can confirm the definition itself works with Docker Desktop 2.0.3 (engine 18.09.2) on Win 10 64-bit and macOS Mojave.  Likely you are running into a problem with Docker Toolbox itself.  Moving to `vscode-remote-release` since this is not related to the definition itself.

Unfortunately, Docker Toolbox is not something we are supporting as it is a legacy solution that Docker is phasing

[2019-06-10 13:46] cyberdecker opened #76 "When attaching to a running container, use the definitions of devcontainer.json"
I noted that even with some defined attributes, it does not opens on the folder I want (`/src/remoteproject`) neither installs the extension I want (the cpptools) when I click on  **Attach to running container**. My `devcontainer.json` is the following:
[code]
I would like to avoid opening manually the remote folder and clicking on the _install extension on container_ . It is possible to VS Code t

[2019-06-10 14:02] Chuxel commented on #76
Moving to vscode-remote-release as this is a feature request.

Since the attach workflow has no knowledge of where the source code is coming from nor whether the source code is even in the container, it does not pick up devcontainer.json.

Out of curiosity, what is it that you would like to do that using the devcontainer.json flow does not allow, but the attach workflow does?

[2019-06-10 16:22] kmehant opened #77 "[Feature Request] Add .devcontainer to the existing project in a more better way"
#### Issue
Adding **.devcontainer** from git repo is not a clean and easy way for all developers.

#### Context
I have some points which we can implement in **visual studio code - insiders** as part of remote development.
* Create a library of dev container definitions like **vs-code extensions**
* Access the library through **visual studio code - insiders** directly without the present way of get

[2019-06-10 16:22] kmehant commented on #77
@Chuxel @egamma any thought about this?

[2019-06-10 19:28] Chuxel commented on #77
Moving to vscode-remote-release since this is not about the definitions themselves.

@kmehant Thanks for the feedback - Just to double check, this is this about `repository-containers` in vscode-dev-containers or adding a container to a folder? (Or is this actually an ask to clone directly into a container like https://github.com/microsoft/vscode-remote-release/issues/614?)

A few comments if this

[2019-06-11 01:20] testforstephen commented on #31
After the discussion, we reached the following solution:
- Use openjdk as the base image of Java Dockerfiles.
- Comment out the steps to install maven and gradle build tools so users can choose to enable later.

[2019-06-11 01:22] #31 closed

[2019-06-11 20:44] Chuxel opened #78 "Consolidate layers"
As discussed in #70, currently the Dockerfiles in dev container definitions in this repository use multiple layers to provide "cut-and-pasteable" sections that can be reused in existing Dockerfiles.

The downside with this approach is that it creates a number of unneeded layers and does not reflect best practice.  To split the difference, we can shift these to use a single build layer with comment

[2019-06-11 21:45] Chuxel commented on #37
So this was a really bad error, but it the yml format was incorrect.  Made a patch, so this is now resolved in master.

[2019-06-11 21:46] #37 closed

[2019-06-11 21:50] Chuxel commented on #67
@qubitron I am making a pass through the dev container definitions as a part of #78 to consolidate layers.  As a part of that work, I tried moving these to `postCreateCommand` and it seems to work pretty well.

As I said, the only downside is that the env updates do not get baked into the image for rebuilds.

The miniconda example is probably the best one to illustrate the problem given its instal

[2019-06-11 21:52] Chuxel commented on #66
I think the other comments beyond `requirements.txt.temp` here were addressed, so let's consolidate the remaining discussion in #67 where that discussion is happening.

[2019-06-11 21:52] #66 closed

[2019-06-12 08:42] Stanpol opened #79 "kubernetes-helm container installs an old version of kubectl"
- VSCode Version: 1.36.0-insider
- Local OS Version: MacOS 10.14.4
- Name of Dev Container Definition with Issue: kubernetes-helm

Steps to Reproduce:

1. Copy this directory https://github.com/microsoft/vscode-dev-containers/tree/master/containers/kubernetes-helm/.devcontainer
2. Open it in VS Code
3. `kubectl version` results with
```Client Version: version.Info{Major:"1", Minor:"6", GitVersion:

[2019-06-12 17:35] qubitron commented on #67
Was discussing with @brettcannon and he preferred to keep things the way they were, I believe the caching benefits outweigh the complexity of having the additional file.

Perhaps we can drop an explanation in the requirements.txt.temp file instead to explain it's purpose?

[2019-06-12 17:36] Chuxel commented on #67
@qubitron Yep, we can do that -- along with some additional comments inline in the Dockerfile specifically about the temp file.

[2019-06-13 09:20] chrmarti opened #80 "Whitespace changes in newly checked out repo no Linux"
![image](https://user-images.githubusercontent.com/9205389/59420311-f680ed00-8dcc-11e9-9e62-37b680436d4a.png)

I guess these are old CRLFs. .jar should probably be excluded from LF.

[2019-06-13 20:27] Chuxel commented on #79
This is actually installing kubectl using the official instructions - here https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-using-native-package-management

But it looks like their package updates are lagging.

We can rev it to use the curl approach instead.  Just not as easy to upgrade later.

[2019-06-13 20:31] Chuxel commented on #80
@chrmarti Most of these should be LF, so it's unclear why that's happening.  A jar is also binary, so it shouldn't be getting line ending converted because of text=auto.

What version of Git are you on?

[2019-06-13 22:52] Chuxel commented on #67
@qubitron @brettcannon Added this to that same branch.  I called the file `noop.txt` and the file itself explains why it exists.  I also copied the files to a temp location instead of `WORKDIR` to avoid any confusion about the files being dropped into the source code tree once it is mounted.  See what you think.

https://github.com/microsoft/vscode-dev-containers/tree/layer-consolidation/container

[2019-06-14 06:11] chrmarti commented on #80
This is Git 2.7.4. I'll look into updating the image which is based on Ubuntu 16.04.

The changes disappeared after I first removed and then added `.gitattributes` back. 🤔

[2019-06-14 09:00] chrmarti commented on #80
Doesn't repro with Git 2.20.1. Thanks!

[2019-06-14 09:00] #80 closed

[2019-06-15 16:10] #78 closed

[2019-06-15 16:10] #79 closed

[2019-06-15 16:11] Chuxel commented on #67
Should be resolved in #81.

[2019-06-15 16:11] #67 closed

[2019-06-17 15:33] chrmarti opened #85 "Remove ENV SHELL from definitions"
SHELL is now read from `/etc/passwd`.

[2019-06-17 21:04] #85 closed

[2019-06-20 22:56] Chuxel commented on #42
Resolved by #84

[2019-06-20 22:56] #42 closed

[2019-06-24 13:06] Scholz-Flo opened #90 "Run container without writing to /root"
Hi all,
i can not install vscode server insight a docker container, because the root dir is not accessable by my function user.
Do you have any idea??

Regards,

[code]

[2019-06-26 17:23] amarth1982 opened #91 "Run docker compose file with ENV variables"
I have a compose yml like this

services:
 myservices:
  image: node:{$NODE_VERSION}

Running remote-container is failing in vscode, as NODE_VERSION env variable is defined in WSL but not in WINDOWS

I have many other ENV variables used in docker-compose.yml like this I dont want everything to be created in Windows

It would be nice to have this, so the remote-container can read the WSL env vars

[2019-06-27 14:34] jzngdt opened #92 "Missing Remote-Containers: Create Container Configuration File"

[2019-06-27 14:56] Chuxel commented on #92
@jzngdt "Remote-Containers Create Container Configuration File" is changing to "Add Development Container Configuration File".  However, this change is not yet in VS Code stable which is what documentation reflects.  You'll see the new command and if you are using VS Code Insiders.

We're in VS Code "endgame" now so docs will get updated with the 1.36 release coming up in the next week or so.  The

[2019-06-27 14:57] Chuxel commented on #92
I should also mention that you will only see these commands if you've installed the Remote-Containers extension and area not already connected to something like an SSH endpoint or WSL.

[2019-07-07 04:26] mtsmfm opened #97 "Customize repository-containers dir"
I'd like to customize repository-containers dir to have my own definition.
It can be useful:

- Contain my favorite settings (zshrc etc), tools (hub etc)
- Test before sending PR to this repo

[2019-07-09 14:13] Chuxel opened #98 "Update copyfiles to avoid CVE warning once update available (but not a security issue)"
Should be fixed by https://github.com/calvinmetcalf/copyfiles/pull/66

However, note that this is a not actually a security issue and more of a possible DoS if used  in something like a web server.  In our case its used to copy files as a part of a bundling script, so this is a non-issue as the process immediately terminates after the operation is complete.

https://github.com/microsoft/vscode-dev

[2019-07-09 18:59] brettcannon opened #99 "Add rustfmt and clippy to Rust dev container"
Add [rustfmt](https://github.com/rust-lang/rustfmt) and [https://github.com/rust-lang/rust-clippy](https://github.com/rust-lang/rust-clippy) to the dev container would be great (and maybe the latter set up for `tasks.json`?).

Adding rustfmt also makes having `editor.formatOnSave` very useful to have, but I don't know if flipping those kinds of settings on in `devcontainer.json` by default is desi

[2019-07-26 13:00] cscholle1 opened #104 "python-3-anaconda does not build"
- VSCode Version:  1.36.1
- Local OS Version:  Windows 10 Pro 1809
- Name of Dev Container Definition with Issue: [python-3-anaconda](https://github.com/microsoft/vscode-dev-containers/tree/master/containers/python-3-anaconda)

Steps to Reproduce:

1. In vscode, open new empty folder
2. `ctrl+shift+p` -> `Remote-Containers: Open Folder in Container...`
3. Select `python-3-anaconda` from the list

[2019-07-27 14:58] remoe opened #105 "Windows / WSL / minikube: run without docker for windows?"
Why does this extension need docker for windows on windows to work? It should only need a docker client, DOCKER_HOST and DOCKER_CERT_PATH environment, right? Or is it already possible to work with  a minikube/WSL environment?

[2019-07-27 19:10] Ciantic opened #106 "Feature: Use a specific target from the multistaged Dockerfile"
Imagine following multistaged Dockerfile:

[code]

There should be setting for the target, right now I must create whole new Dockerfile for vscode and I can't just use the dev env.

I suggest adding a `buildArgs` or similar to pass to the build phase of the vscode remote:

*devcontainer.json*
[code]

Alternatively there could be `preCreateCommand`. Which could be used to do the same thing, a bit m

[2019-07-27 19:16] Ciantic opened #107 "Feature: preCreateCommand just like postCreateCommand"
This is slightly related to #106, but different. I want to have `preCreateCommand` just like there is `postCreateCommand`, e.g.

*devcontainer.json*
[code]

Which is ran before building or rebuilding the docker container.

I could use this e.g. to build the dependencies (bunch of other docker files) etc.

[2019-07-27 19:24] Ciantic commented on #107
Aw crap, is this not the *ms-vscode-remote.remote-containers* repo?

[2019-07-27 19:24] Ciantic commented on #106
Aw crap, is this not the *ms-vscode-remote.remote-containers* repo? I inteded to post this to there.

[2019-07-27 19:26] #107 closed

[2019-07-27 19:26] #106 closed

[2019-07-29 17:33] Chuxel opened #108 "Add default non-root user to all dev containers"
While on mac and Windows, developers can run as root inside the container without trouble, on Linux, local bind mounts use the same permissions as the user inside the container.  Since the docker daemon is typically running as root, this means all files that are created or modified are root.

To avoid this problem, you typically create a user with the same UID/GID in the container and pass in `-u

[2019-07-29 22:24] Chuxel commented on #108
Correction - We will need to support a "buildArg" property to make this work since the USER_UID portion of the above won't work. Text corrected above.

[2019-07-30 15:48] Chuxel commented on #108
@aeschli @chrmarti I merged in changes to the templates to add a non-root user into all containers along with an comment on it in devcontainer.json.

Can we get an updated release of Remote - Containers with this and the other changes in the repo queued up for release?

[2019-07-30 15:52] Chuxel commented on #104
@cscholle1 Yes, this is a base image issue. For some reason, /bin/sh can't find pip in the latest image which cases the failure.  To fix, just update the pylint install line in the Dockerfile.

Change...
[code]

... to ...

[code]

The definition in this repo has the fix in it and will go with the next release of the containers extension.  Thanks for reporting it!

[2019-07-30 15:52] #104 closed

[2019-07-30 18:40] Chuxel commented on #108
/cc: @brettcannon @testforstephen

[2019-07-30 21:52] Chuxel commented on #97
@mtsmfm You can currently create your own local folders with devcontainer.json and just open them, but just to make sure I understand, you asking for the ability to have user "definitions" stored somewhere that show up in the list when you run a command like **Add Development Container Configuration Files..** in VS Code?

[2019-07-30 23:03] laibulle opened #110 "The terminal process terminated with exit code: -3"
- VSCode Version: 1.37.0-insider
- Local OS Version: OSX mojave 10.14.5 (18F203)
- Name of Dev Container Definition with Issue:

Steps to Reproduce:

1. Create a Dockerfile
[code]
2 - Create a docker-compose.yml

[code]

<img width="1110" alt="Screenshot 2019-07-31 at 00 48 53" src="https://user-images.githubusercontent.com/2327626/62171166-56f0cd00-b32e-11e9-9de3-05ad34ccefe2.png">

[2019-07-31 00:51] mtsmfm commented on #97
Yes.
A repo which I dont have write permission, may not accept such definition. It may not contain a tool I want to use even if it has a definition.
It's useful to have my own setting and manage like dotfiles.

[2019-08-09 23:40] Chuxel commented on #99
Resolved by #114 by you! Thanks!!!

[2019-08-09 23:40] #99 closed

[2019-08-16 09:15] Flyffies opened #118 "Unable to start dev conatiner"
- VSCode Version: 1.13.1
- Local OS Version: Windows 7
- Name of Dev Container Definition with Issue:

My windows 7 is unable to run dev containers using Docker Toolbox.
The Problem is a trivial one, docker does not recognise the paths to mount.

Docker just can't handle the additional : in the path.
I copied the command and replaced the "c:\Users\..." with "\c\Users\..." and it worked.

![image](

[2019-08-16 09:23] Flyffies commented on #118
Sorry, Wrong repository...

[2019-08-16 09:23] #118 closed

[2019-08-22 19:26] mxdmedia opened #121 "Option to specify which services from docker-compose to launch."
In a current project repo, we have a fairly deep docker-compose file, with multiple optional services that can be launched for our developers.  For example- our `docker-compose.yml` contains (among other things):

1. backend api service  (`service: api`)
2. frontend client web app  (`service: client`)
3. database for api  (`service: db`)
4. web-based db admin tool (`service dbadmin`)
5. redis serv

[2019-08-22 19:32] Chuxel commented on #121
@mxdmedia Great suggestion!  Would you mind upvoting https://github.com/microsoft/vscode-remote-release/issues/211?  I'm closing this as a duplicate since that issue covers the same scenario.  Happy to take any feedback on the solution there as well.

[2019-08-22 19:32] #121 closed

[2019-08-22 20:09] mxdmedia commented on #121
Absolutely.  Upvoted that issue (I assume by upvote, you mean to add a thumbs up to the first issue post).  Sorry about posting the dupe.

[2019-09-11 04:01] lifeiscontent opened #127 "$HOME as workspace"
I work in NodeJS a lot,

I usually use the nodejs docker image which contains the `node` user.

I usually set my projects repo pointed to the home directory of `node` e.g. `/home/node`

this allows me to forward my own .ssh credentials that I store locally in the repo directly to the home folder.

Is there a way to do this? Because I'm currently running into a ton of issues around getting a dev co

[2019-09-11 04:14] naefl opened #128 "No space left on device error"
Hi all. When trying to build my docker image, I get the following error:

`Error response from daemon: Error processing tar file(exit status 1): write /src/models/<path_to_model.pkl>: no space left on device`

Despite having 600GB free space. Funnily enough, 30mins ago I rebuilt without issue and without change in the meantime. This error message doesn't really tell me anything. Also problem persi

[2019-09-11 13:38] Chuxel commented on #128
Docker on Mac uses a VM and therefore has disk limits set.  You likely have run out of Docker space.  You can allocate more space to Docker by going to Preferences > Disk from Docker the task bar icon or clean out unused images in particular.

We cover this here: https://code.visualstudio.com/docs/remote/troubleshooting#_cleaning-out-unused-containers-and-images

Most likely you've got a number of

[2019-09-11 16:10] #128 closed

[2019-09-15 16:47] DominikJaniec commented on #118
I'm looking for solution, as I've got similar situation. @Flyffies, do you have any link to that?

[2019-09-17 11:30] christianayala10 opened #129 ""Installing dev container" never ends"
I have a remote host with Centos 7 where docker 18.09 is running. When I try to "attach my VSC Insiders v1.39 to a remote container" my VSC installs the agent and so on correctly. Then when I try to locate my workdir by performing "open folder" my VSC tries to install the agent again. The dev container console shows "Setting up container ..." indefinitely.

I have downgraded Remote - Containers fr

[2019-09-23 12:22] mtsmfm commented on #97
Currently I centralize my setting on my repo with a symbolic link:

https://github.com/mtsmfm/repository-containers

[code]

[2019-09-24 11:06] turowicz opened #131 ""New Class" from "C# Extensions" doesn't work in a container."
I know this repository is only meant for the containers definition issues, but I can't find a repo for the actual extension.

Version: 1.39.0-insider
Commit: 9f6a745027fc7b2a12495970f64625e24f410224
Date: 2019-09-24T05:24:32.949Z
Electron: 6.0.9
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Start VS
2. Open a folder with a tree-like

[2019-09-24 11:09] turowicz commented on #131
PS the extension works fine without the container context.

[2019-09-27 00:56] allanwright opened #132 "azure-functions-dotnetcore-latest does not build"
azure-functions-dotnetcore-latest fails to build with the following error:

**Unable to locate package azure-functions-core-tools**

[build image.txt](https://github.com/microsoft/vscode-dev-containers/files/3660406/build.image.txt)

- VSCode Version:1.38.1 and 1.39.0-insider
- Local OS Version: Windows 10 version 1903 (OS Build 18362.356)
- Name of Dev Container Definition with Issue: azure-funct

[2019-09-27 07:46] Flyffies commented on #118
Hi @DominikJaniec, sorry havent seen your comment.

Here is the other issue I opend:
https://github.com/microsoft/vscode-remote-release/issues/1179

[2019-09-27 15:29] Chuxel commented on #132
Good catch - in the case of the Azure functions containers, we may need drop the "Latest" versions of the .NET ones and just go with specific versions as they're supported.

[2019-09-27 15:35] Chuxel commented on #132
@allanwright If you update the FROM statement in the Dockerfile to reference `2.2` instead of `latest`, does it work for you?

[2019-09-27 15:47] Chuxel commented on #132
Fixed with https://github.com/microsoft/vscode-dev-containers/commit/c415c961f7d9d303f994e974250153a483bf7a8f

//cc @chrmarti

[2019-09-27 15:59] Chuxel commented on #131
@turowicz Is this about VS or VS Code? For VS, please use the "Report a Problem" feature as these issues are not tracked in GitHub.

![image](https://user-images.githubusercontent.com/312252/65783684-239ba600-e105-11e9-9c16-c2c002804828.png)

[2019-09-27 16:04] Chuxel commented on #131
Also - If you are referring to the "C# Extensions" extension and your mention of "VS" above was an errort, it's repo is here: https://github.com/jchannon/csharpextensions

However, the author seems to have abandoned it.

This variant seems to be a fork of it: https://marketplace.visualstudio.com/items?itemName=mavis.csharpextensions

Repo: https://github.com/Venipa/csharpextensions

I'd try raisin

[2019-09-27 16:04] #131 closed

[2019-09-27 16:06] Chuxel commented on #127
Closing given it's been a few weeks and I answered above.  Please reopen if required.

[2019-09-27 16:06] #127 closed

[2019-09-27 18:22] lifeiscontent commented on #127
@Chuxel could you provide some example code? I'm not familiar with the terms you're describing. I've tried setting the `workspaceFolder` and `workspaceMount` and can't seem to figure it out.

[2019-09-29 07:51] allanwright commented on #132
Thanks @Chuxel, builds just fine now!

[2019-09-29 07:51] #132 closed

[2019-10-01 15:30] turowicz commented on #131
@Chuxel yes I refer to the VS Code extension. I understand it was discontinued but it is still being used by plenty of people and there is no alternative. The problem is that the original C# extension doesn't give this functionality and we have to look somewhere else.

Regardless, it doesn't work in containers. Please understand that it impacts the use of your extension.

[2019-10-08 15:49] JohnGalt1717 opened #133 "Include better defaults for .NET containers"
The documentation is woefully inadiquate for how to setup the debugging support for say .NET Core applications and these dev containers don't add the right stuff to ensure that the debugger will work.

The entries should be created in the launch.json and whatever ports etc. that are necessary should also be opened.  Failing that the documentation needs to be updated to actually outline how this is

[2019-10-08 15:51] Chuxel commented on #133
@JohnGalt1717 Can you be specific with the problem you are running into?  Ports do not need to be opened for the debugger to attach. Once you're connected to a container, `launch.json` is setup as it is normally, which is why there is nothing specific on that.

[2019-10-08 15:55] JohnGalt1717 commented on #133
Create a .NET Core 2.2 web app, open it with Remote Containers. (in the devcontainer.json I also opened the port)
Create the default launch point for .net Core web app in the launch.json file using vs code's tools, and just fill in the dll naming and version info.

Hit F5.

Build will occur and you can see it running in the build terminal. (Looks like it's running remotely)
But the debugger just s

[2019-10-08 16:14] Chuxel commented on #133
@JohnGalt1717 `launch.json` changes do not require a container rebuild.  These purely tell the debugger how to attach.

The problem is you are using `externalConsole` which is not supported.  Are you using VS Code stable or insiders?

We did get a report that externalConsole caused a hang instead of an error, so you might be hitting this: https://github.com/microsoft/vscode-remote-release/issues/7

[2019-10-08 16:20] JohnGalt1717 commented on #133
There was no error reported anywhere, but changing the setting made it work.  This should be in the documentation so that people don't run into it and not know what's going on.

I'm on the stable version.  And if I for example add a launch.json profile or change the name of one, the drop down for debug in the debug panel does not update with the updated names or new options like it does if you edi

[2019-10-08 16:33] JohnGalt1717 commented on #133
BTW, there are a ton of other gotchas that need to be documented with all of this stuff too:

1. .net core self-signed certs and trusting them from the remote instance. (this applies to anything)  Perhaps a better way to share it between instances? (Just exporting the cert in chrome and then importing it into the personal cert store in windows doesn't work)
2. Server authentication using .net is t

[2019-10-08 17:13] Chuxel commented on #133
@JohnGalt1717

Got it, yes, there should be an error appearing here. This is bug microsoft/vscode-remote-release#723.

This is something the .NET (and Omnisharp) team is aware of and I know are looking into. One of the fixes being put in place this iteration is https://github.com/microsoft/vscode-remote-release/issues/1115, which allows auto-forwarding of applications running on 0.0.0.0 to help wi

[2019-10-08 17:21] JohnGalt1717 commented on #133
@Chuxel Thanks for the above. Even if it's not added direclty to the image, then the documentation needs to be added with these common scenarios. Getting Az cli installed was not trivial as an example. Same with the gotchas.  While everyone is working on stuff to make this work better, documentation would go a long way to making sure that people us this and don't get frustrated.

[2019-10-08 18:43] Chuxel commented on #133
//cc: @richlander

[2019-10-09 01:30] lifeiscontent commented on #127
ping @Chuxel

[2019-10-09 15:45] Chuxel commented on #127
@lifeiscontent The docs above cover setting the properties -- that's really all there is to it. To get more specific, I'd need to know more like what directory structure looks like in more detail and your devcontainer.json.

[2019-10-09 16:03] Chuxel opened #134 "Consider switching F# definitions to use fsharp image instead of .NET Core"
Currently the F# dev containers start with the base .NET Core SDK image and then installs F#. While this works fine, it leads to longer build times with an unclear benefit.

We can investigate using https://hub.docker.com/_/fsharp image as a base instead to see if this provides a better starting point.  We'd need to change the versioning away from .NET Core's versions and to F# with this change.

[2019-10-09 16:58] Chuxel opened #135 "Consider including details on sharing SSH keys for Git in definitions"
While https://github.com/microsoft/vscode-remote-release/issues/106 is the real fix for this issue, we provide guidance on how to [copy SSH keys into your container for use with git here](https://code.visualstudio.com/docs/remote/containers#_sharing-git-credentials-with-your-container).

We could include a simple script in the base dev containers that execute these steps and a postCreateCommand an

[2019-10-09 17:10] Chuxel commented on #127
@lifeiscontent Also, posting any errors you are seeing would be helpful along with the OS you are on.  There are some "gotchas" for Windows with SSH keys due to how permissions work, for example.

[2019-10-15 06:31] lifeiscontent opened #136 "VSCode Devcontainer falls over on Windows 10"
About every 15 to 20 minutes I get a "Reconnecting to Container" Alert. This is a real pain in the *** for development.

[2019-10-15 14:06] Chuxel commented on #136
Moving to correct repository.

@lifeiscontent Can you include your logs (the contents of the dev container terminal?)

[2019-10-17 00:01] Rots opened #137 "Failure running devcontainer as non-root user"
- VSCode Version: 1.39.2
- Local OS Version: Linux Mint 19.2
- Name of Dev Container Definition with Issue:

Steps to Reproduce:

1. Run a devcontainer  based on local docker-compose.yml
* The Dockerfile has only `root` user
* in the `.devcontainer/docker-compose.yml` I added
`    user: 1000:1000`

Expected: dev environment opened in the container
Actual: startup fails with permission issues:

[co

[2019-10-18 19:22] Chuxel commented on #133
@richlander I put together a PR to address the requests above.  See if you think it covers the variations well enough and whether installing Node.js by default makes sense given its use in ASP.NET scenarios.

[2019-10-18 19:25] JohnGalt1717 commented on #133
This looks good.

The only thing that it doesn't handle is the self-signed certs.

In a perfect world the local version would be exported into a file and then imported and used by .net core within the docker environment automatically.

Then it would be transparent for devs.

[2019-10-30 21:03] #133 closed

[2019-11-04 17:50] Chuxel opened #140 "Pre-build images for Microsoft maintained container images in this repository"
Currently this repository includes a number of dev containers for people to use, but requires that the images be built.  While this is great for an example, certain definitions like debian-9-git could clearly have a base image with git already installed and then just a sample Dockerfile for using it.

We can cherry pick a subset of these that are maintained by Microsoft and pre-build them much as

[2019-11-04 17:55] Chuxel opened #141 "Provide guidance for dealing with .NET self-signed certs"
This is a fork of #133 given several other topics in that issue have been addressed.

Currently the dotnet dev container definitions and try repos do not provide good instructions for dealing with self signed certificates in a container environment.

The question is what the best practice should be for adapting to this and we can then at least include a reference to information on it if not update

[2019-11-04 17:56] Chuxel commented on #133
@JohnGalt1717 I just created a forked issue (#141) for the self-signed certs topic since the PR I mentioned is now merged.

Thanks for the feedback!

[2019-11-05 14:08] JohnGalt1717 commented on #133
Thanks! I'm watching it!

[2019-11-07 20:07] Chuxel commented on #141
Ok, this seems to get the job done:

1. On Windows run:

[code]
    macOS/Linux:

[code]

2. Add a few env vars and a volume mount into devcontainer.json

[code]

[2019-11-08 17:41] Chuxel commented on #141
This should now be covered with content in master! See the dotnetcore-* definitions for details.

[2019-11-08 17:41] #141 closed

[2019-11-08 18:09] Chuxel commented on #140
Currently the vscode-dev-containers repo contains pure Dockerfiles that need to be built when used. While this works well from the perspective of providing samples, some of the images install a significant number of runtimes or tools which can take a long time to build.

The goal of this proposal is to:

1. Ensure vscode-dev-containers continues to be a good source of samples
2. Improve the perfor

[2019-11-16 00:05] eedwards-sk opened #147 "Support Build Args during Docker Build"
I seem to be unable to specify build args during the dev container build process.

https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg

I want to perform an npm install during the build process, but this requires providing an environment variable for npm private registry authentication.

a build arg would be the way to accomplish this (an env var)

I wo

[2019-11-16 15:55] amitlevy21 opened #148 "Remote containers extension not working at all"
Version: 1.40.1
Commit: 8795a9889db74563ddd43eb0a897a2384129a619
Date: 2019-11-15T22:58:14.270Z
Electron: 6.1.1
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.19.84-1-MANJARO

Steps to Reproduce:

1. Install Remote Development extension pack
2. Pressing the remote development icon at the bottom left will only show options for the remote ssh extension:
![image](http

[2019-11-18 16:39] chrmarti opened #149 "alpine-3.10-git missing .npmignore"
It includes test.sh.

[2019-11-19 00:26] Chuxel commented on #149
Resolved

[2019-11-19 00:26] #149 closed

[2019-11-21 22:23] Chuxel commented on #98
Resolved

[2019-11-21 22:23] #98 closed

[2019-11-22 03:03] Chuxel commented on #140
@chrmarti @egamma @joaomoreno

TLDR; I am effectively ready to start merging this in, but given I'm about to be out for Thanksgiving, I'm going to hold off. We'll need to swap out CI processes for this repository when we are ready and merge a PR I'll create for the remote containers extension itself.

I suspect this is going to be like the image testing where we'll clog up ADO agents, so I used Gi

[2019-11-22 10:30] joaomoreno commented on #140
Very cool!

[2019-11-22 16:09] Chuxel opened #154 "[Tracking] Onboard additional definitions to image build"
After #140 is complete, we can start to on-board more images. In some cases, changes to the definition are required while in others it's a matter of going through the process.

**On-board to automatic image generation**

*Need to coordinate with the appropriate teams where applicable. In some cases, the team may prefer to build their own images - which works just fine as well.*

- [x] Base images

[2019-11-22 16:46] Chuxel opened #155 "Create "kitchen sink" image based on core VS Online image to allow people to build up from it, use it offline"
Related to #140, #154, and https://github.com/MicrosoftDocs/vsonline/issues/205, we can create a dev container based off of the current VS Online image (which itself is based on Oryx).

This will allow developers to:

1. Simply use it locally if they prefer
2. Make it easier to iterate on new dev containers from it for their own repositories that use it
4. Make it easier to move back-and-forth bet

[2019-11-22 17:46] Chuxel opened #157 "Deprecate javascript/typescript-node-8, python-2 containers once out of support"
Node.js 8.x and Python 2.x are EOL as Jan 1, 2020.

We should delete these containers from this repository so we:

1. Do not encourage use of runtimes that are no longer supported
2. Keep the number of versions of a given runtime to a list that is easy for customers to find/understand

Ideally, we'd do this after #140 is in since this also will add reference comments in devcontainer.json that are

[2019-11-22 18:31] brettcannon commented on #154
I can help with the Python ones (and I'm totally fine with automatic generation), but the Functions ones are probably best left up to the Functions team (who know me and can loop me in as necessary).

[2019-11-22 21:20] cartermp commented on #134
The `fsharp` image is a superset of the .NET Core image in a way - it bundles .NET Core and Mono. I think that it'd be better to just stick with the .NET Core images given that the F# community trending away from Mono.

[2019-11-22 21:22] cartermp opened #158 "Consider removing .NET Core 2.2 containers at the end of this year"
As per this support document: https://dotnet.microsoft.com/platform/support/policy/dotnet-core

.NET Core 2.2 is EOL on December 23rd, 2019 and is currently superseded by .NET Core 3.0.

[2019-11-22 21:32] Chuxel commented on #134
Thanks for the feedback. I have been thinking the same thing as time has gone on. I’ll close this for now.

[2019-11-22 21:32] #134 closed

[2019-11-23 17:23] Chuxel commented on #154
@brettcannon Thanks Brett!  One question for the Python definitions is whether just doing latest for Python 3 is enough if we pre-build images. People will be able to easily get back to the Python Dockerfile to use it if they prefer (the build system will add links into devcontainer.json and the stub Dockerfile that gets added), but do we need sub revisions? (e.g. Python 3.8, 3.7, 3.6)

[2019-11-23 19:18] TylerLeonhardt commented on #154
I'd like to understand the work involved here to onboard. Can you summarize @Chuxel?

[2019-11-25 19:21] brettcannon commented on #154
@Chuxel it's such a per-project choice that for your own sanity I would just go with latest and expect people to manually tweak as necessary if they need a different version. But if you're feeling generous then you could list support for [all versions supported upstream](https://devguide.python.org/#status-of-python-branches).

[2019-11-25 19:47] anthonychu commented on #154
For Python Azure Functions, we'll probably want to keep it at 3.6 for another week or two, then update it to 3.7 once the next Azure Functions extension is released with better 3.7 support. I created that dev container so I'm happy to help with it and any of the other Azure Functions ones.

[2019-11-26 01:34] Chuxel commented on #154
@brettcannon Yeah, that was kind of my thinking as well.  With Node we're doing ones for in support LTS versions, which is typically only two - 10, 12 (8 is going away very soon). Anything that is more of an example like the node-mongo is just latest LTS. For Python, we could start with latest major version (e.g. 3 -- since 2 is about out of support) and just use a tagging scheme to make it easy t

[2019-11-27 21:25] eedwards-sk opened #161 "opening container workspace results in blank unresponsive screen"
- VSCode Version: 1.40.2
- Local OS Version: Darwin x64 19.0.0
- Name of Dev Container Definition with Issue:  web-service-locations (custom)

Steps to Reproduce:

1. open dev container
2. screen goes blank (background color) -- unresponsive, can only close window by using the red button, no menu bar actions or anything will work (even close window or cmd+w)

[code]

[2019-11-27 21:25] #161 closed

[2019-11-27 21:25] eedwards-sk commented on #161
Wrong repo. Closing.

[2019-12-07 15:08] bhack opened #162 "Flutter dev-container"
Please add a flutter container. See https://github.com/Dart-Code/Dart-Code/issues/2154
/cc @DanTup

[2019-12-07 16:32] Chuxel commented on #162
@bhack @DanTup RE: Dart-Code/Dart-Code#2154, yes, absolutely happy to review and integrate a PR. Anything contributed here will show up in VS Code (Open in Container..., Add Development Container Configuration Files...).

[2019-12-10 19:10] bhack commented on #162
It could be also interesting to have this as prebuilt image. See https://github.com/microsoft/vscode-dev-containers/issues/154

[2019-12-11 12:25] bhack commented on #162
/cc @MFAshby @AlukardBF

[2019-12-11 17:31] brettcannon opened #166 "non-vanilla Python containers are caching wheels when installing pylint"
- VSCode Version:
- Local OS Version:
- Name of Dev Container Definition with Issue:
  - python-3-anaconda
  - python-3-miniconda
  - python-3-postgres

Steps to Reproduce:

1. Look at the Dockerfile
2. Notice the step to install Pylint doesn't have a `--no-cache-dir` flag like on the `python-2` and `python-3` containers.

[2019-12-12 19:45] cwoolum opened #167 "Docker inside docker on Windows"
I am trying to use Docker inside Docker in Windows by adding

[code]

but this is failing with `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`.  What would be the syntax to do this in Windows?

[2019-12-12 21:55] Chuxel commented on #167
The mount property was just released to stable.  Have you updated to 1.41 and then reloaded after the containers extension updates?

[2019-12-13 01:42] Chuxel commented on #167
Also - to answer your other question, Docker has specific code in it to allow this particular trick to work on Windows in addition to macOS, Linux given how common it is.

I just verified I'm able to get it working when both using Docker Desktop stable and the WSL2 tech preview on Windows (Docker Desktop version 2.1.6.0).

However, if you are using an older version of VS Code and the remote extens

[2019-12-13 06:11] marcusturewicz opened #168 "azure-functions-python-3 container fails"
When installing the devcontainer, I get the following error:
[code]

- VSCode Version: 1.41.0
- Local OS Version: macOS Mojave 10.14.6
- Name of Dev Container Definition with Issue: azure-functions-python-3

Steps to Reproduce:

1. Include files in .devcontainer locally in your project
2. Reopen in Container
3. Wait for it to build and fail

[2019-12-13 09:35] MFAshby commented on #162
Happy to clean mine up and raise a PR. The main concern I have is it requires elevated privileges to talk to USB devices, for on-device debugging. I don't have a great alternative though.

https://github.com/MFAshby/flutter-devcontainer

[2019-12-13 10:33] DanTup commented on #162
I think there could be multiple Flutter containers (flutter-web, flutter-android, ...) - for example Android requires the Android SDK and elevated permissions to use a physical device, but using Web wouldn't require either (there are still some issues using web in containers, which is why I hadn't tidied mine up into a PR yet).

It's also possible to use Android with a remote emulator (eg. Genymot

[2019-12-13 10:40] bhack commented on #162
Yes I think the best strategy Is probably to start with a flutter-android isolated PR and then expand over with single PRs introducing flutter-web etc..

[2019-12-13 15:35] Chuxel commented on #168
@marcusturewicz Thanks for reporting this.  There appears to be something going on with the functions repo.  There are similar reports for GitHub actions: https://github.community/t5/GitHub-Actions/ubuntu-latest-Apt-repository-list-issues/td-p/41122

We'll keep an eye on it - leaving open for anyone else that may be encountering this.

[2019-12-13 22:04] Chuxel commented on #168
The upstream issue appears to have been resolved!

More info: https://github.com/dotnet/core/issues/3995

Let us know if you're still hitting it!

[2019-12-13 22:04] #168 closed

[2019-12-14 00:56] bhack commented on #162
Here also a version with emulator (X11 permissions):
https://github.com/midnightblue69/docker-flutter

/cc @midnightblue69

[2019-12-14 12:12] bhack commented on #162
If there Is any problem about X11 permissions for the emulator we could suggest to use https://github.com/mviereck/x11docker

[2019-12-16 11:29] MarcJefferson5 opened #170 "Java 8 & Tomcat 8.5 Build - The requested URL returned error: 404 Not Found"
- VSCode Version: 1.41
- Local OS Version: Windows 10, 1803
- Name of Dev Container Definition with Issue: Java 8 & Tomcat 8.5

Steps to Reproduce:

1. Open Folder
2. Add Development Container Configuration
3. Select Java 8 & Tomcat 8.5
4. Reopen Folder in Container

The build will fail with the error message: "The requested URL returned error: 404 Not Found"

[2019-12-16 15:12] Chuxel commented on #140
I've now onboarded the first set of images into MCR and we have a syndication page in DockerHub.
https://hub.docker.com/_/microsoft-vscode-devcontainers?tab=description

Now that 1.41 is out, the last step is merge into master and transition the CI build steps from ADO to [these GitHub actions](https://github.com/microsoft/vscode-dev-containers/tree/clantz/image-generation/.github/workflows).  I'l

[2019-12-16 15:47] Chuxel commented on #170
@MarcJefferson5 Thanks for reporting this.  It looks like Apache removed Maven 3.6.1 for some reason.

The simple fix is to change:

[code]

to

[code]

I'll update the definitions as well.

/cc: @testforstephen @chrmarti

[2019-12-16 15:59] Chuxel commented on #170
Ok, it looks like the non-archive URL is being used.  I also updated that so this doesn't happen again.

[code]

[2019-12-16 16:01] #170 closed

[2019-12-19 12:50] joeblew99 commented on #162
X11docker requires special tools on the host ?

[2019-12-19 12:55] bhack commented on #162
@joeblew99 Check https://github.com/mviereck/x11docker#dependencies
Check also the thread in the PR https://github.com/microsoft/vscode-dev-containers/pull/169

[2019-12-27 09:45] ignatandrei opened #172 "dotnetcore-3.1"
Please add dotnetcore 3.1 container for https://github.com/microsoft/vscode-dev-containers/tree/master/containers

[2019-12-28 09:13] eelmasllari opened #174 "Go container fails"
- VSCode Version:
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.7.0

- Local OS Version: Mojave 10.14.6

- Name of Dev Container Definition with Issue: go

Steps to Reproduce:

1. Open any folder in container, select "Go" from templates
2. Container bu

[2019-12-28 16:15] Chuxel commented on #174
Thanks for reporting the issue!  It looks like the path to gopls changed upstream which broke the definition.  PR #173 was just merged with the fix.

[code]
should be changed to

[code]

in .devcontainer/Dockerfile

[2019-12-28 16:15] #174 closed

[2019-12-30 18:22] stamblerre opened #175 "containers/go: Go tool installation will not work with Go modules"
The Go tools for development are installed [here](https://github.com/microsoft/vscode-dev-containers/blob/master/containers/go/.devcontainer/Dockerfile#L32) with a single command and with the `-u` flag. This will not work as expected if these tools are versioned using Go modules, and it may result in conflicting behavior if the tools share dependencies. Users may get an unexpected versions of thes

[2020-01-02 06:24] qqgg231 opened #178 "Docker-in-docker: lacks example?"
About "docker-in-docker" and similar:

Currently there is dockerfile in .devcontainer folder, which defines development container

However there is no example of dockerfile outside .devcontainer folder. Please add some dockerfile which, after deploying, writes to console / displays "hello world".

Such dockerfile should allow to create production container, not development container.

I assume her

[2020-01-05 20:04] qqgg231 opened #180 "Add Pytorch example"
It may be a little tricky, but I think should be possible, it can probably be based on [this nvidia container](https://docs.nvidia.com/deeplearning/frameworks/user-guide/index.html):

[2020-01-05 20:07] qqgg231 commented on #180
Oh, this is probably what I was looking for, so it may not be needed here

https://github.com/Simbotic/rust-gst-pytorch-gpu

[2020-01-06 20:06] thaney071 opened #181 "Document predefined variables"
VS Code documents the available variables at https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables. When I try to use these in the devcontainer.json for mounting, they don't apear to work.

Please add documentation for what predefined variables this extension recognizes.

[2020-01-06 20:35] Chuxel commented on #178
@qqgg231 If you are looking for samples, the various "vscode-remote-try" repositories are a better fit.  For example https://github.com/Microsoft/vscode-remote-try-python

The contents of this used by VS Code for existing projects.  See [docs here](https://code.visualstudio.com/docs/remote/containers#_quick-start-open-an-existing-folder-in-a-container) for how this works.

In terms of reusing an e

[2020-01-06 20:36] Chuxel commented on #172
Thanks for the feature request!  Happy to take a look at a PR if you are interested in creating one.

[2020-01-06 21:40] Chuxel commented on #175
Apologies for the delay - our coverage was limited over holidays.

Thanks for letting us know. Happy to take a PR with your suggestion - otherwise we can try to take a look at it this iteration.

[2020-01-06 21:45] Chuxel commented on #180
Thanks for the suggestion! Happy to take a PR here.  It would also be good to understand whether this container would only work on Linux since we try to support all three major platforms with definitions in this repository (Linux, macOS, Windows).

[2020-01-06 23:25] ignatandrei commented on #172
I am not sure that I understand the
https://github.com/microsoft/vscode-dev-containers/blob/master/containers/dotnetcore-3.0/.devcontainer/Dockerfile
in order to do the same for .NET Core 3.1

[2020-01-07 02:15] Chuxel commented on #158
Resolved by #182!

[2020-01-07 02:15] #158 closed

[2020-01-07 02:59] Chuxel commented on #178
Or are you specifically asking about a docker-in-docker example? (e.g. vscode-remote-try-docker-in-docker)

[2020-01-07 17:26] qqgg231 commented on #178
Yes, I think something like vscode-remote-try-docker-in-docker would be ok, so I and other people can see how to do it

[2020-01-07 17:31] Chuxel commented on #178
@qqgg231 Got it - makes sense! Tweaked the title to reflect that.

[2020-01-07 17:33] qqgg231 commented on #180
It should work on all platforms

[2020-01-07 17:40] qqgg231 commented on #180
I see it will first need GPU support in WSL2:

https://github.com/NVIDIA/nvidia-docker/issues/429#issuecomment-557264967

[2020-01-07 22:55] philliphoff opened #185 "Document Dev Container definition release process"
Add documentation to describe how new Dev Container definitions (and updates to existing ones) propagate to VS Code.  (E.g. it looks like `vscode-dev-containers` releases are created periodically, which are then eventually picked up by a new release of the `remote-containers` extension. However, I don't see any notes about the general timelines involved, release schedules, etc.)

[2020-01-08 01:01] Chuxel commented on #185
Good suggestion - we'll get that into CONTRIBUTING.md.  To answer the question:

1. The vscode-dev-containers repo does ship with the VS Code extension currently. (There is a feature request to do this out-of-band: https://github.com/microsoft/vscode-remote-release/issues/425)
2. The Remote - Containers extension ships into **Stable** on the same release cadence as VS Code itself using [four week

[2020-01-08 13:09] bhack commented on #162
Just for tracking this depend on https://github.com/microsoft/vscode-remote-release/issues/2067

[2020-01-08 14:19] dbaeumer opened #186 "Java 12 container complains about Maven not being on the path"
![capture](https://user-images.githubusercontent.com/1931590/71985177-4bcd9180-322a-11ea-9e5e-3e749d41ea6e.png)

[2020-01-08 14:57] Chuxel commented on #186
@testforstephen @hexiaokai My recollection here was that, because of the split in the Java ecosystem between Gradle and Maven, the Dockerfiles for the Java containers have the installation of the two commented out.

Is that still the behavior you want given @dbaeumer observation?

It seems like the README should mention how to enable one or the other at a minimum. Thoughts?

[2020-01-08 16:18] hexiaokai commented on #186
I would suggest enabling Maven as default, and mention Gradle setup in README. @testforstephen

[2020-01-08 16:21] Chuxel commented on #185
Updated with https://github.com/microsoft/vscode-dev-containers/commit/2bf50522aec01c80533b033f6a0275406651ad8c.  Let me know if you'd like to see anything else in the content to help clarify!

[2020-01-08 16:21] #185 closed

[2020-01-08 17:09] philliphoff commented on #185
That's perfect, thanks!

[2020-01-09 03:24] testforstephen commented on #186
See the issue https://github.com/microsoft/vscode-dev-containers/issues/31, we had a long story to discuss whether to enable mvn or gradle executables in Dockerfile by default.

One assumption is nowadays many users would prefer to use maven or gradle wrapper to download the right build tool, so that we decide to provide a slim Dockerfile by default. The maven extension requires your project to co

[2020-01-09 09:41] Eskibear commented on #186
Let me clarify the current behavior a little bit. The Maven extension depends on a maven distribution to calculate some essential information (e.g. effective-pom, plugin detailed info, etc. ), before rendering them in the explorer.

It follows below order to look for the maven executable:
* setting `maven.executable.path` if not empty.
* maven wrapper under your project root folder.
* `mvn` under

[2020-01-09 17:28] yamlCase opened #187 "Allow remote docker daemon's host environment variables in devcontainer.json mount commands"
My scenario:
1. Windows 10 is running VS Code
2. I have %DOCKER_HOST% set to a remote linux machine.

This works well, *except* I have to hard-code a volume mount path in devcontainer.json.  How can I use the remote host's environment variables?

for example: I'd like an environment variable like `WSPATH="${HOME}/workspaces"` and be able to use it in the workspaceMount parameter like so:

`"worksp

[2020-01-14 23:05] Chuxel commented on #186
@testforstephen Given what @Eskibear describes, it sounds like the warning would appear even if just Gradle is installed.  In that event, would it make sense to have Maven there by default and people can optionally add Gradle?

[2020-01-15 00:54] brandonh-msft opened #190 "Azure Functions v3 example"
Would like to see a container for doing Azure Functions v3 (.Net Core 3.x). Thanks!

[2020-01-15 02:33] testforstephen commented on #186
This is actually not directly caused by the build tool. The root cause is you're opening a maven project, and vscode-maven is auto activated and pop the warning. If you're opening a gradle project, there is no warning. This image is named as **Java 12**, it sounds a bit weird that it contains a build tool, but not another.

In your try-java sample project, could you provide a maven project with ma

[2020-01-15 03:32] akaroml commented on #186
I would say it's arguable to have Maven in the image by default. There was a long discussion back in the beginning.

Can we make it on-demand? Whenever Maven runtime is needed, prompt the user to install it or pack a mvnw somewhere and run it when needed? @Eskibear what do you think?

[2020-01-15 06:29] Eskibear commented on #186
This looks good to me, e.g. in the warning box, provide an "Install" button which guide users to install a distribution of Maven locally. We can either a) redirect to official Maven Installation Guide, or b) ask some question (Maven version, installation dir) and install it for users with one click.

I give a -1 vote to it. We do have packed a mvnw inside the extension. Whenever a user wants to cr

[2020-01-16 01:17] akaroml commented on #186
Let me clarify why I mention `mvnw`. The goal is to have some script to install Maven on-demand. The script should be very reliable to handle different environments. `mvnw` was brought up because it has both characteristics. If `mvnw` could not serve the purpose, then we need to find something else.

Here to call out one thing. Since it's a container case, suggesting users to put Maven in the imag

[2020-01-16 22:02] Chuxel commented on #175
#193 is a PR to attempt to resolve this.

[2020-01-16 22:04] Chuxel commented on #190
I believe your PR #191 resolves this, correct?

[2020-01-16 22:37] Chuxel commented on #140
Resolved with #189.

[2020-01-16 22:37] #140 closed

[2020-01-16 22:38] #190 closed

[2020-01-17 02:04] #172 closed

[2020-01-17 02:05] Chuxel commented on #172
They're in the repo now and you should see them in the next release in VS Code!

[2020-01-17 07:43] ignatandrei commented on #172
Thank you!

[2020-01-17 15:28] #175 closed

[2020-01-17 15:30] Chuxel commented on #157
This is complete!

[2020-01-17 15:30] #157 closed

[2020-01-17 15:31] Chuxel commented on #135
This is no longer needed given we have first class support for SSH agent forwarding.

[2020-01-17 15:31] #135 closed

[2020-01-20 04:40] bheesham opened #200 "TypeError: Cannot read property 'includes' of undefined"
VSCode Version: 1.42.0-insider (user setup)
Commit: fd13e449f5f2fe300f187129d6065ed1cfad74d3
Date: 2020-01-17T17:23:31.960Z
Electron: 7.1.7
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

Name of Dev Container Definition with Issue: All

Steps to Reproduce:

1. Select "Remote-Containers: Try a Sample..."
2. Select any option (I selected Go)
3. Get pre

[2020-01-21 15:03] thoward27 opened #201 "Add HashiStack Devcontainer"
I would love to help build a devcontainer to test the HashiStack locally.

Specifically, I need:
- [Nomad](https://www.nomadproject.io/)
- [Consul](https://www.consul.io/)
- [Vault](https://www.vaultproject.io/)

Although having their other offerings also embedded would be beneficial.

Hashicorp provide a Vagrant instance with all of this functionality already (https://github.com/hashicorp/nomad/t

[2020-01-21 15:46] Chuxel commented on #201
Happy to help!  Let us know what you're hitting with setting it up.

[2020-01-21 17:03] brandonh-msft commented on #190
yup, thanks!

[2020-01-21 17:03] aszenz opened #202 "Add Haskell dev-container"

[2020-01-21 17:53] thoward27 commented on #201
@Chuxel I brought all of my work over into a new PR #203, with the current bug I'm facing. I would greatly appreciate any help you can provide!

[2020-01-21 19:40] Chuxel commented on #202
Thanks for the feature request!  Happy to take a look at a PR if you (or anyone reading this) is interested in contributing one.

[2020-01-22 11:01] chrmarti opened #208 "Typo: --no-reccomends"
A few Dockerfiles have `--no-reccomends` in their comments instead of `--no-install-recommends`.

[2020-01-22 15:34] Chuxel opened #209 "Support dev container specific image versioning in build process"
Currently the image generation process for on-boarded Microsoft dev containers uses the package version as the tag for all generated images. While consistent and easy to understand, this has a few downsides:

1. Over time, containers that do not change will have a number of versions associated with the exact same image.
2. When critical security fixes happen, it can be a pain to go back and add a

[2020-01-22 15:39] Chuxel commented on #208
Good catch!  Fixed with https://github.com/microsoft/vscode-dev-containers/commit/bbf63ac52a021c138927fefd3e63b3f7246089c1.

[2020-01-22 15:39] #208 closed

[2020-01-23 17:25] aaronadamsTO opened #210 "Git containers should have SSH"
Containers alpine-3.10-git, debian-9-git, and ubuntu-18.04-git don't currently have the `ssh` command available. This results in a very obscure error message when attempting to clone or sync via SSH:

[code]

@Chuxel, I didn't want to blindly fire a PR at the new image generation scripts, since it seems like you're in the middle of a refactor. For now I'll just add an SSH client to my own Dockerfi

[2020-01-23 21:16] Chuxel commented on #210
Thanks for pointing that out! Can add it to the common script so it gets picked up wherever an images it built.

[2020-01-23 21:16] #210 closed

[2020-01-25 20:00] NerdsvilleCEO opened #215 "Remote Containers - new install of VSCode outdated"
Hello,
  I am noticing a plugin version inconsistency on a brand new install of VSCode for "Remote - Containers"... the odd thing is, it appears the REST API returns the appropriate version, however the version displayed in plugin list is different. Also checked for updates and it says none are available.

Plugin list shows 0.94.0, while query shows 0.98.0

![outdated_plugin](https://user-images.g

[2020-01-25 20:06] NerdsvilleCEO commented on #215
Closing as I found this https://github.com/microsoft/vscode-dev-containers/issues/185, it turns out it is doing a sort of reduce on the dataset to not return non-stable items unless on "Insiders" edition.

[2020-01-25 20:06] #215 closed

[2020-01-25 20:51] NerdsvilleCEO opened #216 "Copy initial workspace files if missing for remote docker host"
Just a thought, it may be good to support copying over the local workspace files into the remote container before dropping into the container to prevent having to manually clone the repository once again while inside the container.

https://code.visualstudio.com/docs/remote/containers-advanced#_a-basic-remote-example

Both the examples mentioned here don't seem to be great solutions, but without h

[2020-01-27 07:11] rubensa opened #217 "Allow postCreateCommand shell to be specified"
Looks like **VSCode** runs this for **postCreateCommand**:
[code]

I need to change "**/bin/sh -c**" with "**/bin/bash -l -c**" to allow **.profile** an **.bashrc** to be evaluated (see: https://github.com/microsoft/vscode-dev-containers/issues/51 for similar problem).

In my **Dockerfile** I use `SHELL [ "/bin/bash", "-l", "-c" ]` but I can't tell **VSCode** to run that shell for **postCreateComm

[2020-01-27 07:40] rubensa commented on #217
Moved to https://github.com/microsoft/vscode-remote-release/issues/2201

[2020-01-27 07:40] #217 closed

[2020-01-28 01:56] extravio opened #219 "docker-compose - [VS Online] Process finished successfully."
I'm trying to set up a LAMP stack on VS online.

If I follow the example "vscode-remote-try-php"
https://github.com/microsoft/vscode-remote-try-php/tree/master/.devcontainer
and replace the php:7-cli image by php/7.3-apache image (https://hub.docker.com/_/php)
the container starts and I can connect to it.
I need to start the apache service **manually** though (the process should be running by defa

[2020-01-28 02:20] Chuxel commented on #219
@extravio Are you trying this using the Remote - Containers extension locally or Visual Studio Online?

Visual Studio Online does not currently support Docker Compose which is why you are encountering problems there.  That feature request can be found here: https://github.com/MicrosoftDocs/vsonline/issues/35

In your first case where you are not using Docker Compose, you can set `"overrideCommand"

[2020-01-28 03:18] extravio commented on #219
Hi @Chuxel ,
Thanks for the quick reply. Yes, I'm using "Visual Studio Online". That explains why.

I tried adding the `"overrideCommand":false` but I get the following error:
_Failed to copy the VSOnline Agent to the custom container_

The output on the command line is:
[code]

The only change is the "overrideCommand" entry in devcontainer.json.
Without it the container starts successfully.

[2020-01-28 03:21] Chuxel commented on #219
Interesting - That could be a bug. Would you mind opening it up in the vsonline repo? We can then close this issue and the right folks can take a look. https://github.com/microsoftdocs/vsonline/issues

[2020-01-28 03:25] extravio commented on #219
Sure. Will do. Thanks.

[2020-01-28 03:26] Chuxel commented on #219
Thanks!  Closing this issue.

[2020-01-28 03:26] #219 closed

[2020-01-28 15:20] alexdima opened #220 "Using prebuilt images should work without needing a `Dockerfile`."
Testing https://github.com/microsoft/vscode-remote-release/issues/2209

* Run `Remote-Containers: Add Development Container Configuration Files...`
* Pick the Node.js 12 & TypeScript

Currently, there is a `Dockerfile` being generated and a `devcontainer.json`. They both contain a lot of stuff about the current user id and a lot of comments and explanations and this scares me away and makes me fee

[2020-01-28 15:44] Chuxel commented on #220
@alexdima The only reason the UID/GID section is present is because we have not implemented dynamic UID/GID (updateRemoteUserUID) for Linux when using Docker Compose.  Once that is in place, we'd remove that entirely from these files.  It's essentially a short term workaround.  This is unfortunately a critical thing for Linux since if you don't do this, all files you edit will be done so as root.

[2020-01-28 15:54] Chuxel commented on #220
@alexdima I should also ask, given the context above, are there things in that you think aren't needed?  One option, for example, would be to default to a non-root user and simply drop the comment assuming that the property "remoteUser" is self explanatory enough.

[2020-01-28 19:01] Chuxel commented on #220
@alexdima I queued up a PR to try to reduce the amount of comments while still retaining the core info that has seemed to be confusing to people as they first start using devcontainer.json.

See if you think it does a better job of balancing.  For this particular image, here's what you would now get.

devcontainer.json
[code]

Dockerfile

[code]

[2020-01-29 11:14] alexdima commented on #220
Thank you @Chuxel! Did I mention how cool the prebuilt images are? I am super excited that I can now rebuild containers in <5s !! :heart:

Back on topic, with your proposed changes, these files look now a whole lot better IMHO! But there are still some nitpicks to get this to the minimal size and perhaps some other small things that might keep people from jumping on this.

Please forgive me if I a

[2020-01-29 16:13] Krzysztof-Cieslak commented on #202
Hey @hmemcpy maybe we should move https://github.com/hmemcpy/haskell-hie-devcontainer here to make it available in out-of-the-box templates?

[2020-01-29 16:16] hmemcpy commented on #202
It would be great! But I just literally yesterday stumbled upon it, so I'm not sure it's "up to standards". If someone could take a look, I'd be happy to make needed tweaks, if any.

Also, the image I'm using takes a while to build, so I've built it under my own docker hub account. Not sure that's a problem for "public" documentation, I'm hoping if this works to contribute it to the haskell-ide-en

[2020-01-29 16:20] Chuxel commented on #220
I can log an enhancement to remove it when it is applied. Since it's OSS, it needs to be there in the repo.

What this is illustrating is best practice. This handles three problems when dealing with Docker and `apt-get`.
1. `apt-get` won't work in a container unless you do `apt-get update` first
2. `--no-install-recommends` keeps the image size down by not installing packages you did not explicitl

[2020-01-29 16:24] Chuxel commented on #220
@alexdima Oh, one more thing.

On Linux, I am using `zsh` while others use `fish` and I have my VS Code  user settings set to these shells.  The problem is that these shells are not in all container images, so when you try to open a terminal, it fails saying the specified shell is not available.  This sets a machine level setting.  We could make it "null" as well just to be sure the setting doesn'

[2020-01-30 09:37] chrmarti commented on #220
I think it's important to keep the target audience for the definitions in mind. Most developers (except those doing deployments themselves) will have little experience with Docker and will be overwhelmed by too much as well as too little information on "where to go from here". I expect finding the right balance to be tricky.

I suggest we keep the Dockerfiles, they nicely demonstrate the setup mos

[2020-01-30 15:27] Chuxel commented on #220
Yeah, agreed. The more I think about this, the more I think we may need something in the middle here.  We could have:

Kitchen Sink => "language / platform pointer" => Full devcontainer.json

Kitchen sink is tracked as #155 and we could clearly do some automation when this is selected.  We could then have something in the middle that's a straight pointer to one of these pre-defined definitions wit

[2020-01-30 21:47] andys8 opened #222 "Elm: Update to elm 0.19.1 and use the language server"
Hey, I like the dev-container idea for vscode.

## Issue

I saw the current elm project is using version `0.19.0` and not the latest `0.19.1`. This is actually a breaking change and around 1 year newer.

https://github.com/microsoft/vscode-dev-containers/blob/cd4e2d538d15efc1f39c160bd106d83fbe28e8e3/containers/elm/test-project/elm.json#L6

https://github.com/microsoft/vscode-dev-containers/blob/cd

[2020-01-31 01:44] Chuxel commented on #222
Sounds reasonable to me!   @xWiiLLz?

For the image, you could actually use the new pre-built node-12 image: `mcr.microsoft.com/vscode/devcontainers/javascript-node:12`  There's also one for Debian as well, but not nix at the moment. (See [here](https://hub.docker.com/_/microsoft-vscode-devcontainers).) The has git, zsh (and oh my zsh) and typical dependencies installed along with a vscode non-roo

[2020-01-31 07:55] chrmarti commented on #220
Do all packages trigger stderr output without these env variables set? It might be only those asking for user input. We could just remove them from the commented out examples for clarity and leave them in where we actually run them. (Is the bold red for stderr in the log overdoing it?)

"Machine" settings behave that way (or at least very similar): `"Configuration that can be configured only in th

[2020-01-31 10:39] andys8 commented on #222
That's a good idea. I'll come up with a pull request soon.

[2020-01-31 10:51] alexdima commented on #220
Another possibility for avoiding:
[code]
in `devcontainer.json`

Would be if the base image, `mcr.microsoft.com/vscode/devcontainers/typescript-node:12`, would contain a file `settings.json` at the right location (we can ask @sandy081 and @chrmarti what that is) and the machine settings.json is predefined in the base image. Then, the effect of that is there, but it is not repeated in all the works

[2020-01-31 15:22] Chuxel commented on #220
Yes, its an innocuous warning telling you that it is flipping to noninteractive, but it shows up in red.  Dirk actually raised an issue on it way back pre-launch which is when I adapted to it.  [See here](https://code.visualstudio.com/docs/remote/containers-advanced#_debconf-delaying-package-configuration-since-aptutils-is-not-installed) - I even documented it.

That was what I was doing originall

[2020-01-31 17:10] Chuxel opened #223 "Parallelize image generation to speed up CI process"
Currently there are not that many images to build, but as time goes on we will want to be able to spin up concurrent image builds to speed up the process.

This will require adding the idea of "paging" into the build CLI and then some tweaks to the GitHub Actions workflow files.

[2020-01-31 18:42] Chuxel commented on #223
One significant challenge here is that definitions can depend on each other, so all definitions for a given dependency tree need to be done in the same page to be sure the updated image is available first.

[2020-02-03 18:11] #222 closed

[2020-02-04 18:31] whesleybarnard opened #226 "Cant run 'go mod init' as non-root-user in Go"
- VSCode Version:
[code]
- Local OS Version:
[code]
- Name of Dev Container Definition with Issue:
[code]

Steps to Reproduce:

1. Set remoteUser as vscode.
2. Open vscode inside the go dev container.
3. Try to run go mod init in a non gopath folder.

Example command and error:
[code]

I have noticed that the /go/pkg folder only has write permissions for root. I think this is the issue.

[2020-02-04 19:23] Chuxel commented on #226
Should be resolved with your PR (#227)!

[2020-02-04 19:23] #226 closed

[2020-02-06 16:13] Chuxel opened #230 "Install less in all definitions for git log"
Currently "less" is not present in all scenarios which can cause git log to error. This should be added to the common script and any definition that does not use it.

[2020-02-06 21:18] #230 closed

[2020-02-07 15:23] Chuxel commented on #223
Resolved with #228.

[2020-02-07 15:23] #223 closed

[2020-02-10 11:46] hholst80 opened #235 "EACCES: permission denied, mkdir '/tmp/vsch"
- VSCode Version: 1.42
- Local OS Version: Arch
- Name of Dev Container Definition with Issue: Try node example

Steps to Reproduce:

1. Run VSCode + example as user id=1000
2. Run VSCode + example as user id=1001
3. VS Code server is downloaded (attempted) to /tmp/vsch/... but /tmp/vsch is not owned by uid=1001 which does not have permissions to write to that directory. This would be fixed if eac

[2020-02-13 16:35] weischermanuel opened #236 "Failed to start go devcontainer"
Issue Type: <b>Bug</b>

Hi,

i'm trying to start a dev container from the example provided by microsoft
https://github.com/Microsoft/vscode-remote-try-go

im getting the following error message
[code]
did you know the problem ? i've updated all the tools like vscode and docker-desktop (windows 10)

VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS

[2020-02-13 19:58] Chuxel commented on #236
I have seen some issues lately where certain go packages temporarily stopped working and then got fixed again. I will take a closer look

[2020-02-13 21:33] TaylorBarrick commented on #236
It seems like github.com/uudashr/gopkgs/cmd/gopkgs is no longer present

[2020-02-13 21:39] TaylorBarrick commented on #236
I pulled that package out temporarily from the Dockerfile and was able to build

[2020-02-13 23:09] Chuxel commented on #236
Yeah it's odd - error I see is:

[code]

...which implies the package is there (since we use @latest and its finding 2.1.0).

[2020-02-13 23:12] Chuxel commented on #236
Yep - there's an upstream issue for the package PR to fix it.

Issue: https://github.com/uudashr/gopkgs/issues/22
PR: https://github.com/uudashr/gopkgs/pull/24

[2020-02-14 14:27] petkovicdanilo opened #237 "VSCode won't attach to a running container - Assertion `fd > -1' failed"
After updating libuv to version libuv-1:1.34.2-1.fc31.x86_64 on Fedora 31, my node devcontainer won't start. Here is the output when I try to attach to a running Docker container:

[code]

- VSCode Version: 1.42.1
- Local OS Version: Fedora 31

Steps to Reproduce:

1. Run node container
2. Try to attach to a running node container

[2020-02-14 23:48] Chuxel commented on #236
Latest upstream issue is here: https://github.com/uudashr/gopkgs/issues/25

FWIW, you can tweak the Dockerfile to install the package without using a go module as a tactical solution - the upstream issue appears to be getting some traction, but if it dies I may update the repo with this workaround.

Remove:
[code]

Then update ...
[code]
to...
[code]

[2020-02-18 16:34] Chuxel commented on #236
The latest on this is that the bad gopkgs version is being cached by the global goproxy.  So, to resolve this, updating to "v2" appears to fix the problem.  This has been done in commit https://github.com/microsoft/vscode-dev-containers/commit/4579be1efbf4b0bb086c3b9c9803e3bbdc8ab99b since this has been going on too long.

It changes

[code]

to

[code]

[2020-02-20 13:39] jwyglendowski-precisionlender opened #240 "E: Release file for http://deb.debian.org/debian/dists/buster-updates/InRelease is not valid yet"
I am running the following:
* Docker Desktop on 2.2.0.3
* VS Code Version: 1.42.1 (system setup)
    Commit: c47d83b293181d9be64f27ff093689e8e7aed054
    Date: 2020-02-11T14:45:59.656Z
    Electron: 6.1.6
    Chrome: 76.0.3809.146
    Node.js: 12.4.0
    V8: 7.6.303.31-electron.0
   OS: Windows_NT x64 10.0.18363
* ms-vscode-remote.remote-containers 0.101.1

I have tried both go and rust dev-contai

[2020-02-20 16:09] Chuxel commented on #236
This workaround is in v0.101.1 of the stable extension and will be in the v0.102.0 insiders version that will be released soon.  If you have an existing Dockerfile, make the [small update above](https://github.com/microsoft/vscode-dev-containers/issues/236#issuecomment-587552179).

[2020-02-20 16:09] #236 closed

[2020-02-20 16:23] Chuxel commented on #240
@jwyglendowski-precisionlender Sorry your seeing this! Unfortunately, this appears to be an issue with Docker for Windows itself with the new 2.2.0.x release tied to putting your machine to sleep.  You can track progress and comment at https://github.com/docker/for-win/issues/5593

Closing this as a duplicate of the upstream issue.

[2020-02-20 16:23] #240 closed

[2020-02-20 18:42] jwyglendowski-precisionlender commented on #240
Thanks for letting me know. Restarting Docker works around the problem until it's permanently fixed.

[2020-02-21 20:58] Chuxel commented on #155
This has been resolved with PR #242

[2020-02-21 20:58] Chuxel commented on #209
This has been resolved with PR #242

[2020-02-21 20:58] #209 closed

[2020-02-23 20:54] hholst80 opened #244 "git pull fails in remote container"
- VSCode Version: 1.42.1
- Local OS Version: Ubuntu 19.10

Steps to Reproduce:

I am not sure. Working on it. Posting here for exposure.

[code]

[2020-02-23 21:36] hholst80 commented on #244
OK. There is something injected into my ~/.gitconfig

[code]

[2020-02-23 21:44] hholst80 commented on #244
The problem with this approach is that /tmp is in the container whereas the /home directory is a persistent volume. Is there any way to turn of the config injection into gitconfig?

[2020-02-25 18:28] Chuxel commented on #155
Resolved by #245

[2020-02-25 18:28] #155 closed

[2020-02-26 10:05] aeschli opened #246 "typo on dockerhub vscode-devcontainer page"
Testing https://github.com/microsoft/vscode-remote-release/issues/2409

![image](https://user-images.githubusercontent.com/6461412/75334206-b5136d80-5887-11ea-9ead-2d1a6d59e23e.png)

The last list entry `mcr.microsoft.com/vscode/devcontainers/javascript-node:12` should be `typescript`

[2020-02-26 15:07] Chuxel commented on #246
Whoops!  Good catch.  Will update.

[2020-02-26 15:44] Chuxel commented on #246
Will be corrected with https://github.com/microsoft/mcrdocs/pull/381

[2020-02-26 20:09] Chuxel commented on #246
Fixed!

[2020-02-26 20:09] #246 closed

[2020-02-26 22:22] StevenLiekens opened #247 "Unable to extend existing Docker Compose and still use different Dockerfile"
Extending an existing _docker-compose.yml_ and overriding the _build_ section to reference a different _Dockerfile_ is not well supported. It seems that _docker-compose_ searches for a _Dockerfile_ in the wrong directory.

- VSCode Version: 1.42.1
- Local OS Version: Windows 10 version 1909 (build 1836.567)
- Name of Dev Container Definition with Issue: Existing Docker Compose (Extend)

Steps to R

[2020-02-27 22:14] kaharlichenko opened #249 "Go devcontainer fails to build some Go modules when running as a non-root user"
## Versions

- VSCode Version: 1.42.1
- Local OS Version: macOS Mojave 10.14.6
- Name of Dev Container Definition with Issue: go

## Steps to Reproduce

1. Create a new empty directory.
2. Open the directory in VS Code.
3. `> Remote-Containers: Add Development Container Configuration Files...`
4. Select `Go` template.
5. Open the `devcontainer/devcontainer.json` file.
6. Uncomment the `"remoteUser

[2020-02-28 01:13] Chuxel commented on #249
Yeah looking at it, in vscode-remote-try-go we do `chmod -R a+rwX /go/pkg` to avoid the problem.  Let me take a look at your PR to see if that's a better option.

[2020-03-06 11:52] Aetherbase opened #252 "Cannot use containers extension with any container and any project"
### Versions

VSCODE Version: 1.42.1 (system setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.19041
extension version : 0.101.1

### Steps to Reproduce
-     Open a project directory in VS Code.
-     > Remote-Containers: Reopen in Container
-      Select an

[2020-03-09 15:13] #249 closed

[2020-03-09 20:35] KROSF opened #253 "PHP & MySQL docker-compose.yml"
something similar to [devilbox](https://github.com/cytopia/devilbox) could be great (a tiny version)

[2020-03-09 20:48] KROSF opened #254 "Bash IDE"
provide a full ide for bash with [mads-hartmann.bash-ide-vscode](https://marketplace.visualstudio.com/items?itemName=mads-hartmann.bash-ide-vscode)

[2020-03-09 23:25] Chuxel commented on #253
Thanks for the feature request!  Happy to take a look at a PR if you'd like to submit one.

[2020-03-09 23:27] Chuxel commented on #254
Similar to #253, happy to take a look at a PR if you're so-inclined to create one!

[2020-03-11 19:24] docwhat opened #256 "add chef-workstation"
Please add a [Chef Workstation](https://docs.chef.io/about_workstation/) Dev Container.

They have an [official docker image](https://hub.docker.com/r/chef/chefworkstation) built on [this`Dockerfile`](https://github.com/chef/chef-workstation/blob/master/Dockerfile).

[2020-03-14 14:09] bhack commented on #14
I want to add official tensorflow/addon devcontainer cause it is the main official entry point to extend Tensorflow for community contributions.
I am waiting to better have an overview of a comprehensive Dockerfile receipt to code, build and run test for that repo.
Check https://github.com/tensorflow/addons/issues/1305

[2020-03-17 07:12] kaito3desuyo opened #261 "Git has said "Operation not permitted""
- VSCode Version: 1.43.0
- Local OS Version: Windows 10 x64 1909 18363.720
- Name of Dev Container Definition with Issue:

[code]

Steps to Reproduce:

1. Open VSCode
2. Open project by dev-container
3. Click git fetch button

[code]

Execute ``git push`` in the container terminal and it will complete successfully.

[2020-03-17 11:25] bhack opened #262 "Continous integration for .devcontainers"
How we can test a `.devcontainer` in Continous Integration? Is there a way to pilot  the build and run test code from a Vscode image on a `.devcontainer` with cmdline?
Partially related to cmdline https://github.com/microsoft/vscode-remote-release/issues/2133 but this Is for testing in CI/GitHub.

[2020-03-17 16:10] turowicz commented on #261
Same problem here on Windows. When I do it on OSX there is no problem.

My container definition contains certain `.ssh` folder manipulation:

https://github.com/Surveily/Hydra/blob/master/.devcontainer/devcontainer.json

[2020-03-17 16:12] turowicz commented on #261
I reckon this is to do with the fact that I first clone the repository on Windows and then open in container that is Linux-based. Perhaps the line endings in `.git` folder are not correctly understood rendering the repository broken from Linux perspective?

[2020-03-17 16:12] turowicz commented on #261
cc @Chuxel @chrmarti

[2020-03-17 19:08] Chuxel commented on #262
There is an automatic process that runs to do CI for the contents of the `containers` folder in this repository every Tuesday and Thursday with the latest version of the extension source code to both validate the containers and look for potential regressions before they are released publicly.

For other repositories, building the Dockerfile and then using `docker run` to run a test script to valid

[2020-03-23 21:06] Chuxel opened #264 "mcr.microsoft.com/java/jdk:8u232-zulu-ubuntu updated to 19.10, breaks Azure Functions"
@testforstephen @hexiaokai @brunoborges

It looks like the `mcr.microsoft.com/java/jdk:8u232-zulu-ubuntu` image in MCR got updated to Ubuntu 19.10 because a distribution upgrade was [added into the Dockerfile 11 days ago](https://github.com/microsoft/java/commit/75aa80766854403d924a143366f2b61114cbb678#diff-13c7d7a346a7d5bf80c5a7c723c2b934).

The problem is that this causes the installation of the

[2020-03-23 22:16] Chuxel commented on #186
One other data point here is that devcontainer.json in 1.50 now supports passing in build args.  The Dockerfile could be updated to look at a build argument to know which, if either should be installed.  The devcontainer.json could then have:

[code]

This would allow them to pick without ever having to open up the Dockerfile.

[2020-03-24 20:04] Chuxel commented on #264
//cc: @jeffhollan

The image referenced here appears to be focused more on internal Azure deployments. Should this be a standard open JDK base image instead to avoid unexpected breaks like this?

[2020-03-24 22:10] jeffhollan commented on #264
@ahmelsayed @amamounelsayed to check this out and confirm the right base image is being used

[2020-03-24 22:13] jeffhollan commented on #264
// @kulkarnisonia16 as well

[2020-03-24 22:55] amamounelsayed commented on #264
@Chuxel Thank you for your question, the java function is using mcr.microsoft.com/azure-functions/java:3.0-java8-appservice --> This is use the azule version, we use mcr.microsoft.com/java/jre:8u212-zulu-debian9

The openjdk version, mcr.microsoft.com/azure-functions/java:3.0-java8

No idea what is azure-functions-java-8. mcr.microsoft.com/azure-functions/java:3.0-java8

What are trying to build a

[2020-03-24 23:06] Chuxel commented on #264
@amamounelsayed This is a definition @testforstephen has been maintaining for [VS Code Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) to work with Azure Functions in Java inside a container. Its an environment you use to develop the function, not deploy the function.

There was an internal mail thread that landed on `mcr.microsoft.com/j

[2020-03-24 23:47] ahmelsayed commented on #264
I just pushed the core tools package to 19.10 sources feed.

[2020-03-25 00:04] Chuxel commented on #264
@ahmelsayed Perfect - looks like that resolved the core issue.

FWIW - @amamounelsayed and I also had an offline conversation about the right way to maintain these going forward. Happy to have the right folks get access to do maintenance or we can even just directly reference an image. @anthonychu I'm sure can lend some insights into the right plan given he also submitted the Python definition her

[2020-03-25 00:04] #264 closed

[2020-03-25 20:33] anthonychu commented on #264
We probably should change this devcontainer to use `8u232-zulu-ubuntu-18.04` or another base image that's pinned to a specific OS major version.

The Python devcontainer uses `3.6-stretch`. They don't publish Python 3.8 images for Stretch. We probably should update that one to `3.8-buster`.

As for making sure Core Tools is published to all the relevant feeds automatically, we have an item https:/

[2020-03-25 21:23] brunoborges commented on #264
Better yet if the base image was a bare bones Linux (could be Debian) and all tools were installed manually (not through apt), including the JDK.

[2020-03-28 13:54] luuk-codebeez opened #265 "azure-machine-learning-python-3 not supported by azureml-dataprep part of azureml-sdk"
- VSCode insider
- Windows 10 Pro
- azure-machine-learning-python-3

The image 'azure-machine-learning-python-3' derives from continuum:anaconda3, which derives from Debian (https://github.com/ContinuumIO/docker-images/blob/master/anaconda3/debian/Dockerfile).

The supported linux distributions for azureml-dataprep are listed here and Debian is not one of them:
https://docs.microsoft.com/en-us/azu

[2020-03-28 18:20] Chuxel commented on #265
Thanks for reporting this!  That must be a new check - and I think Anaconda may have recently moved to Debian 10.

Can you see if the `.devcontainer` folder contents here work for you?

https://github.com/microsoft/vscode-dev-containers/tree/clantz/azure-ml-fix/containers/azure-machine-learning-python-3/.devcontainer

Unfortunately, I think getting the container up is slower since Anaconda is inst

[2020-03-29 16:35] luuk-codebeez commented on #265
thanks @Chuxel , I build a container from your branch and ran the azureml-dataprep code.

It works in relation to the bug I reported.

remarks/questions:
- I would like to use the image as a base image for my own devcontainer
  - are there plans to host the image on a docker registry? (or have I missed something)
  - what would you advice to extend the container definition?

- On getting the datas

[2020-03-30 23:58] Chuxel commented on #265
You can add another `RUN` statement to the Dockerfile to add things to it.  For example, to install the dependency you mention as the vscode user:

[code]
The main `RUN` statement is cached, so it will just be reused as you modify the Dockerfile which speeds up making changes as needed.  The `USER` statement will also default the container to run as vscode instead of "root".  You can add `USER roo

[2020-03-31 09:23] luuk-codebeez commented on #265
Hi @Chuxel ,

I have build the devcontainer.

Your fix for the ownership of `/opt/conda` with `chown vscode \opt\conda` seems to be incomplete.
Subsequent installations are performed under root and thus the contents of `/opt/conda` is owned by root:root giving the same error as before.

I applied `chown -R vscode:root /opt/conda` which took a long while to complete. A more specific `sudo chown -R

[2020-03-31 13:37] Chuxel commented on #265
How are you doing these installations?  Can you include a code snippet?

If you install anything as root, it will have root permissions.  So the trick is to use the "vscode" user to avoid that problem.  If you're doing this in a Dockerfile, the "USER" before your run statement should resolve this problem.

If you're running in the container as root, that would also install as root.  If you're runn

[2020-03-31 14:18] luuk-codebeez commented on #265
With 'Subsequent install' I did not mean install I added myself. I meant the installs happening at line: 59 in your Dockerfile.

[2020-03-31 14:22] Chuxel commented on #265
@luuk-codebeez Are you grabbing the latest Dockerfile?  Like 59 is "        && conda activate base" \"

[2020-03-31 14:29] luuk-codebeez commented on #265
oops, give me a moment to rebuild

[2020-03-31 15:14] luuk-codebeez commented on #265
Ok, approved from my side. sry about the noise @Chuxel  and thank you

[2020-03-31 15:17] #265 closed

[2020-03-31 19:29] bhack opened #267 "Python- pylint with extra modules"
- VSCode Version: insider
- Local OS Version: linux
- Name of Dev Container Definition with Issue: python-

Steps to Reproduce:

1. Add a dependency in `requirements.txt` and uncomment https://github.com/microsoft/vscode-dev-containers/blob/master/containers/python-/.devcontainer/devcontainer.json#L38
2. Pylint is not able to resolve that dependency but code run correctly (so the module is availab

[2020-03-31 20:48] Chuxel commented on #267
This is expected. `pylint` is installed via `pipx` in the image to avoid global module conflicts. These are in venvs in `/usr/local/py-utils`.

See the discussion [here](https://github.com/microsoft/vscode-dev-containers/pull/241#discussion_r395241054).

This allows all tools to be present without impacting the global environment and enables user installed versions to be specified which override t

[2020-03-31 20:49] Chuxel commented on #267
Is there a specific issue this is causing or just an observation?

[2020-03-31 20:53] bhack commented on #267
Yes basically pylint is not working with required modules.
What is the best practices to add extra modules and use pylint?
Cause of course `requirements.txt` in the template could seems to users the most natural way to add extra dependencies.

[2020-03-31 21:00] Chuxel commented on #267
Can you post the specific thing you are trying to install?

The short answer is that you can update the pipx environment with `pipx inject pylint <other things to install>`, but I can provide a more complete example if you can give me a few more details.

[2020-03-31 21:05] bhack commented on #267
What I meant is that we could probably change [this line](https://github.com/microsoft/vscode-dev-containers/blob/master/containers/python-3/.devcontainer/devcontainer.json#L38) with `pipx`? Cause when Vsocde is going to automatically add the devcontainer.json to you repo it is quite natural for user to add dependencies in `requirements.txt`.
But if the user uncomment the default line in the autom

[2020-03-31 21:17] Chuxel commented on #267
Hmmm. The idea behind pipx is its an isolated environment separate from your application dependencies, I wouldn't expect we'd want to do that. If pylint can't be isolated, then we'd want to pip install it.

@brettcannon Given the original suggestion, what are your thoughts on this feedback?

[2020-03-31 21:19] bhack commented on #267
@Chuxel I understand but we need to find a general solution that could isolate tools but also let the IDE to work with user modules quite easily with python tools.

[2020-03-31 21:34] Chuxel commented on #267
Yes, @brettcannon is from the Python team.

I'm still not quite sure what problem you're encountering.  If I go and grab https://github.com/microsoft/vscode-remote-try-python and open the container, I end up with a project with the `flask` module installed globally using this image. In this case, `pylint` is able to find it without issue.

Flask is installed via `pip3 install -r requirements.txt`.

[2020-03-31 21:56] bhack commented on #267
There is something different there from https://github.com/microsoft/vscode-dev-containers/blob/master/containers/python-/.
Cause adding the same modules in the flash example is working there.

[2020-03-31 22:00] Chuxel commented on #267
@bhack Thanks for confirming.  I will dig in to see if I can determine the difference with a fresh project.

[2020-03-31 22:12] Chuxel commented on #267
@bhack Okay, I was able to repo.  Try adding this to your Dockerfile to see if it fixes it:

[code]

[2020-03-31 22:15] bhack commented on #267
@Chuxel yes it is ok with this.

[2020-03-31 22:15] Chuxel commented on #267
Great! Will get a patch queued up.

//cc: @chrmarti as FYI

[2020-03-31 23:12] #267 closed

[2020-03-31 23:16] Chuxel commented on #267
I just merged in a fix - once CI runs you can try using the dev version of the image.

e.g.
[code]

We'll get this in the next update to Remote - Containers as well.

Thanks for reporting this - it was clearly hidden behind how the try repo project was setup.

[2020-04-01 13:29] holms opened #269 "Can't open folder in container using docker-compose"
![screen](https://user-images.githubusercontent.com/280958/78142458-a1829600-7435-11ea-8fbb-08ac328b28e7.png)

There's some kind of problem going on in here.

holms@debian ~> docker-compose --version
docker-compose version 1.25.4, build 8d51620a
holms@debian ~> code-insiders --version
1.44.0-insider
20b88fa0694cae8e46ffd305a1450ba58ae6065b
x64

Plugin version is latest.

Launching that particular

[2020-04-01 13:36] Chuxel commented on #269
@holms Can you include your devcontainer.json so we can see your configuration along with the entire log output?

(Moving repos since this doesn't appear to be about a dev container in vscode-dev-containers.)

[2020-04-02 15:28] mchenier opened #270 "Azure Functions & Python 3.8"
I just realize that the Azure Functions & Python 3 included in VSCode only has version 2.x of Azure Function core tools and version 3.6 of Python.

It will be usefull to update those containers so it support Python 3.8 and core tools 3.x

I have tried myself doing the upgrade and I was sucessful changing to Python 3.7.7 and core tools 3.x but the switch to 3.8 is a little more tricky because there

[2020-04-02 15:37] Chuxel commented on #270
//cc: @anthonychu - Just to double check, will you be continuing to maintain the Azure Functions definitions or is there someone else on the team that should?  Happy to add whoever as a collaborator.

[2020-04-02 15:39] Chuxel commented on #270
Oh - one more note, there's actually now a Python image that can be used that has git and the other common utilities installed to make this all easier.

mcr.microsoft.com/vscode/devcontainers/python:3.8 (or 3.7 or 3.6).

[2020-04-02 15:47] anthonychu commented on #270
Waiting for Azure Functions Core Tools v3 to be published to the buster feed. We can bump to 3.7-stretch for now, but will be a couple of weeks before we can update to 3.8-buster (stretch not available). Good tip on mcr.microsoft.com/vscode/devcontainers/python:3.8. We can update it to that when the tools can be installed.

[2020-04-05 16:31] #270 closed

[2020-04-07 09:44] luuk-codebeez opened #277 "Mounted docker socket needs root user to read from"
- VSCode Version: VSCode insider latest
- Local OS Version: Windows 10 Pro insider (WSL2)
- Name of Dev Container Definition with Issue: azure-machine-learning-python-3

Steps to Reproduce:

1. launch VSCode in the container
2. perform "docker version" in terminal
3. see that it throws a permission denied on reading from /var/run/docker.socket
4. when we add "alias docker=sudo docker" things work

[2020-04-07 16:54] Chuxel commented on #277
Your suggestion on allowing Docker to run without sudo is a good one.  The alias approach you mention is likely the safest since on Linux the actual socket is handed to the container.

In terms of "777", unfortunately this is a limitation of Docker for Windows. The only way to mount ~/.ssh is to actually mount it to a different location (e.g. ~/.ssh-local), copy it, and then change permissions. Th

[2020-04-09 00:43] holms opened #280 "Wrong build context path in existing container template"
- **VSCode Version**:
[code]

- **Local OS Version:** Debian latest
- **Name of Dev Container Definition with Issue:** go

Steps to Reproduce:

1. Create custom Dockerfile in `.devcontainer` folder.
2. Uncomment step   which says `context: .` in `.devcontainer/docker-compose.yml` https://github.com/microsoft/vscode-dev-containers/blob/bf82fa0128cec15e935d04bbb50761e45a907f37/containers/docker-exis

[2020-04-10 09:41] holms commented on #280
@chrmarti who can I discuss this with :)?

[2020-04-10 13:41] Chuxel commented on #280
This appears to be a common question for Docker Compose. See https://github.com/docker/compose/issues/3530#issuecomment-222490501

In effect, the build path in the override is relative to the first file in the array in devcontainer.json.  So, while the dev container can't be updated to guarantee the path is correct when un-commented, we can update the template with this detail.

[2020-04-10 20:45] holms commented on #280
Interesting.. Probably updating devcontainer.json would make sense.

[2020-04-10 21:06] Chuxel commented on #280
Yeah I've got an update queued I'm about to push.  I'll also add some text to this effect to docs.

[code]

[2020-04-10 21:26] #280 closed

[2020-04-10 21:33] Chuxel commented on #247
Apologies for the delayed response here. We just updated the template with additional information that should resolve your problem. These paths are relative to the primary docker-compose.yml file rather than the one in the .devcontainer.  The comments have been updated as follows:

[code]

Please feel free to reopen if this does not resolve your problem.

[2020-04-10 21:33] #247 closed

[2020-04-11 10:57] StevenLiekens commented on #247
Thanks, it's good to know that my workaround for this was actually the proper solution. Stay safe!

[2020-04-13 03:40] sungle3737 opened #281 "Cannot add tomcap server"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

## Cannot Add tomcat server?!
![ss](https://user-images.githubusercontent.com/27716524/79090245-facabd80-7d83-11ea-993e-df92ff2c5062.gif)

[2020-04-13 14:36] Chuxel commented on #281
Unfortunately, I am unable to reproduce this problem.  It looks like you are using some sort of clipboard utility.  Does it work if you key it in directly without the utility?

If not, please include the platform you are running in (Windows, macOS, Linux) and the version of VS Code (or VS Code Insiders). You may also want to open an issue with the [extension author](https://github.com/adashen/vsco

[2020-04-14 01:39] sungle3737 commented on #281
I found the reason that java extension pack (java debug) was running in infinite loop (i dont know why)
- so i uninstalled java debug extension and reload
- after reload add server
- add extension again
### so if anyone experience same thing check another extension in infinite loop
I wish this can help others

[2020-04-14 01:39] #281 closed

[2020-04-14 07:39] sungle3737 opened #282 "tomcat 404 but war running!"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.
![image](https://user-images.githubusercontent.com/27716524/79198313-40fc4b80-7e6e-11ea-99f1-5db338ad3370.png)
- my mvn version in here

![ss](https://user-images.githubusercontent.com/27716524/79198399-60937400-7e6e-11ea-8888-2e7eabed9ff1.gif)
And the

[2020-04-14 12:03] thomas-lucas1985 opened #283 "Windows 'HOME' variable is not set. Defaulting to a blank string"
- VSCode Version: 1.44.0
- Local OS Version: Windows 10

Hi

We are using a docker development container for building an Angular project. The docker-compose file is defined in devcontainer.json.

In our docker-compose file, we are mounting some volumes. For one of these, we use a windows environment variable to refer to the local user directory of the host e.g.
volumes:
  - type: bind
    source:

[2020-04-15 07:50] thomas-lucas1985 commented on #283
Noticed that this is not the correct repo. Sorry for the inconvenience. I'll close issue.

[2020-04-15 07:50] #283 closed

[2020-04-15 20:18] Chuxel commented on #282
This is a bit off topic for this repository, but it looks like the config for the application you deployed is incorrect from the logs. You can see it complaining about values in the XML. It's possible there is some sort of encoding issue with the XML file or you've put reserved characters into the XML file.

For example, this error makes me think that this may be the case - if you've got `<` in th

[2020-04-15 20:31] vinman1 opened #285 "dotnetcore-3.1: URL to nvm install script is no longer valid"
### Problem
When the `$INSTALL_NODE` env var is 'true' (default) then this Dockerfile tries to install `node.js` via a `nvm` installation script. The current url of `https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh` no longer seems valid. The new url is `https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh`(as stated here: https://github.com/nvm-sh/nvm#install--update

[2020-04-16 00:26] Chuxel commented on #285
Hmmm - I'm not sure that is what is going on here. https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh still resolves correctly, so this wouldn't cause the error you're seeing.

All that has happened is that the repo under creationix was switched to an organization called nvm-sh - likely due to recently announced [pricing changes](https://help.github.com/en/github/getting-started-w

[2020-04-16 01:56] vinman1 commented on #285
OK. Retried again from `master`. You're right, I'm no longer getting the error either.

The call to `curl` was definitely the culprit earlier, but I didn't pay close enough attention to know the exact cause. As you say, probably only a temporary issue that now seems resolved. Maybe something to do with certs...

I'm closing this issue now since the problem can't be reproduced.

Please feel free to

[2020-04-16 01:56] #285 closed

[2020-04-16 02:18] sungle3737 commented on #282
Thanks for kind answer! it really helped

[2020-04-16 02:18] #282 closed

[2020-04-16 15:45] kzhui125 opened #287 "how to set custom container name in devcontainer.json"
Hello, when I open a folder with devcontainer.json, I get a container which has random name like " friendly_driscoll".

How to set custom container name? or Let VSCode use my existing container? (not existing image)

How does VSCode relate the folder to a container?

Thanks,

[2020-04-18 15:50] Chuxel opened #291 "VSO / Universal image nearing too large to build"
The VSO image build has now exceeded the size of the hosted CI servers and is failing to build because it is running out of space even with its own dedicated build.  The maximum space is 14GB and adding helm seems to have pushed it over the edge.

Part of the problem is the sheer number of layers in the upstream Oryx image. I'd propose we hold off adding Helm for now (and other things) and look at

[2020-04-20 14:12] Chuxel commented on #291
There may be an upstream bug that caused this: https://github.com/actions/virtual-environments/issues/709

Storage seems to have dropped at least 2GB from what I am reading.

[2020-04-20 14:52] Chuxel commented on #291
I found a near term workaround by running apt-get autoremove / clean in the CI server prior to building.  However, this tells us we're on the edge of this image not building anymore.

We'll either need a dedicated VM for CI here or start thinking about reducing the size of the image in some way.

//cc: @srivatsn @jkeech

[2020-04-20 15:00] jkeech commented on #291
@Chuxel, I’m pretty sure we use the hostel agents in Azure Pipelines and haven’t run into disk space issues so far. Are the hosted GitHun Actions runners using a smaller hardware config? Maybe we could wire up an public Azure Pipelines job if GH runners aren’t sufficient. Maintaining your own self-hosted agent (patching, compliance) is something I’d like to avoid.

[2020-04-20 15:07] Chuxel commented on #291
@jkeech They're the same. [They quote 10GB](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#capabilities-and-limitations).

There was an issue here where the hosted agents were below that, but by running apt-get autoremove / clean, I got it down again.  So that's a bug on their end which is why it just suddenly started.

However, it shows how close

[2020-04-20 16:22] Chuxel commented on #291
One update here - it's not actually the build output storage that is running out, it's the host OS.  That's why an autoclean works.  `/dev/sda1` only has 8.6GB free if you don't.  With the cleanup, I can see 8GB being consumed on /dev/sda1 after the build for the VSO image.

Turns out removing `/usr/share/dotnet` frees up 15GB and its not needed for the build as well.  Others like Apache have gone

[2020-04-21 14:07] Chuxel commented on #253
@ThoolooExpress contributed a PHP7 & MariaDB definition! Check it out.

[2020-04-21 14:07] #253 closed

[2020-04-24 13:28] Chuxel opened #294 "Consolidate version specific definitions with a build arg, enable expansion in VS Code"
Now that build args are supported in devcontainer.json we can consolidate multiple versions of the same definition that vary only in the version of one piece of software.  Examples include the donetcore definitions, javascript/typescript-node, azure-terraform and more.

For those that include image builds, we can follow the model that is used in python-3 with a VARIANT arg that results in multiple

[2020-04-24 13:32] Chuxel opened #295 "Move docker installation into a common script, enable non-root use"
Currently definitions like docker-in-docker the use of `sudo` to execute docker commands when running as a non-root user. Unfortunately, the Docker extension access the docker socket directly, which means the extension does not work if it runs as non-root.

To work around this problem, socat can be used to proxy the socket to one the non-root user can access.  However, this involves several additi

[2020-04-24 13:33] Chuxel commented on #291
I'm going to close this for now since it looks like this turned out to be an upstream issue that has a workaround for now. We'll need to continue to watch it as we add more to this kitchen sink image.

[2020-04-24 13:33] #291 closed

[2020-04-24 13:39] Chuxel opened #296 "Ensure at least one locale is available in each dev container"
Currently there are a few dev containers that do not have a default locale in them because this is missing from the upstream image.  This can cause some unexpected behaviors.  A simple example is that if you use Oh My Zsh! and select the popular agnoster theme, you'll get an error if there isn't a locale.

We can update the common scripts in the `script-library` to add `en_US.UTF-8 UTF-8` and the

[2020-04-24 14:41] Chuxel opened #297 "Consistently use curl to fetch scripts"
Currently dev containers use a mix of curl and wget to fetch scripts for installing software. Generally `curl` appears to be the one that is used most in directions for installing software on Linux, so sticking with that avoids having to install both `wget` and `curl` in all cases.

[2020-04-24 18:03] scalpel4k opened #298 "all those spawned "docker exec ..." processes should run from a shell"
We have to do a few preparations in our docker containers before we can give access to the developer. This works well for docker run, because we can overwrite the entrypoint.
However, soon after devcontainer starts the container, a couple of docker exec processes are being spawned that will basically run a command in an "unprepared" container context (our /etc/profile and/or /etc/bash.bashrc are c

[2020-04-24 18:20] #295 closed

[2020-04-24 18:40] mchenier opened #300 "pytest not working after upgrading to latest image"
- VSCode Version: 1.44.2 (user setup)
- Local OS Version: Windows 10
- Name of Dev Container Definition with Issue: mcr.microsoft.com/vscode/devcontainers/python:0-3

I'm trying to get pytest work with the new image and VSCode. Note that this was working on the old python 3.6-stretch image.

First problem is that the Test discovery failed. The error says to look my setting.
Here is my settings.jso

[2020-04-24 19:10] Chuxel commented on #300
@mchenier Are you using the Azure Functions definition or the Python one?

@anthonychu @TsuyoshiUshio Assuming this is the Azure Functions definition given what is in the settings file, could this be a SDK related issue?

[2020-04-24 20:08] mchenier commented on #300
@Chuxel
Im not quite sure I understand what your asking me. You mean for the test?
If there is a special test definition for Azure Function I didn't find anything on that so I assume I am using Python definition.

[2020-04-24 20:15] Chuxel commented on #300
[code]

@mchenier I'm missing context here as to where the Dockerfile you are having trouble with came from. Did you create it? Was it added by VS Code by you selecting it from a menu (e.g. when using the "Reopen in container")?

`mcr.microsoft.com/vscode/devcontainers/python:0-3` is a like `python:3` which is Python 3.8.  If you need Python 3.6, use `mcr.microsoft.com/vscode/devcontainers/python:

[2020-04-27 12:16] mchenier commented on #300
@Chuxel
I use the DockerFile that was added by VSCode when choosing Open folder In container. I choose Azure Functions & Python 3. I tried changing to 3.6 but it didn't help same problem with the local.settings.json variable that don't seams to be present in os.environ.

DockerFile
`#-------------------------------------------------------------------------------------------------------------
# Cop

[2020-04-27 14:55] anthonychu commented on #300
@mchenier Can you share a repo that demonstrates this problem?

[2020-04-27 15:17] felipecassiors opened #303 "Add Ubuntu 20.04 container"
With the release of Ubuntu 20.04 LTS, I believe a good amount of developers would like to move their devcontainer from the 18.04 to this new LTS version as well.

I suggest to use [buildpack-deps:focal](https://hub.docker.com/_/buildpack-deps/) as the base, since it is an official Docker image based on ubuntu:20.04 with many common and basic dependencies used by developers already installed, such

[2020-04-27 15:38] mchenier commented on #300
@anthonychu
I have created a simple repo so you can help me.
 https://github.com/mchenier/azure_test_env_var

When you run "python -m pytest" on this project you will get an error because the environnement variable wasn't found.

Maybe it is just me not understanding how local.settings.json work but when running pytest it is not loaded as envioronment variable. Is that an intended behaviour and ha

[2020-04-27 15:45] anthonychu commented on #300
Settings in local.settings.json are only loaded when running `func`. func reads the settings in the file and makes them available as environment variables in the functions host and your functions. When you run `pytest`, I would not expect those values to be loaded into the environment. However, I’m curious why it appeared to be working if you switched base images.

[2020-04-27 17:05] mchenier commented on #300
I will find the old image I was using and make an other repo so we can compare.

[2020-04-27 17:20] mchenier commented on #300
Ok with that simple example I have the same problem with the old image. I don't know how the env variable worked in my test earlier but the problem is not with the image. Sorry for my mistake. Im pretty sure it was working but it is for sure not related to the image.

But let me ask you what will be a valid way to load those local.settings.json into the test environment. Im using `func` to create

[2020-04-28 13:36] Chuxel commented on #303
Thanks for the suggestion!  Agreed we should add this.

[2020-04-28 13:45] Chuxel opened #304 "Document best practice for multi-stage dockerfiles for dev, build, and prod"
The containers in this repository do not make a strong stance on how dev containers should be used for container based applications because we want to:

- Keep them easy to understand for people new to Docker
- Highlight that they can be used with non-container deployed applications as well

However, we can document how the dev containers can be used in a multi-stage dockerfile (with the `target`

[2020-04-28 13:51] Chuxel opened #305 "Add Node 14 definitions"
A new LTS version of Node.js (14) is out. We should add it into the list.

However, we may want to do #294 at the same time to reduce future maintenance.

[2020-04-28 19:57] mchenier commented on #300
This is definitly not an issue with the new image. There was an error with my original test making the os.environ never called. But I confirm that local.settins.json is not loaded in the environement variable when running pytest. I will have to look around what are the good way to do that.
Thanks.

[2020-04-28 19:57] #300 closed

[2020-04-29 05:27] aaronadamsCA opened #307 "Support setting container time zone to host time zone"
It might be good to support and/or document a first-class way to build dev containers that use the host machine's time zone instead of UTC.

While it's far from a showstopper, right now Git commits made inside a container are recorded in UTC. It's a bit odd to look at `git log` and see mixed time zones on my own commits depending on whether they came from GitHub (local time) or the dev container (

[2020-04-29 14:17] Chuxel commented on #307
Thanks for the suggestion! This should be doable by using the "initalizeCommand" property to get the local timezone into a file that is then pulled into the container via the Dockerfile (or even "postCreateCommand"). I'll look into documenting it.

[2020-04-30 09:32] turowicz opened #308 "Automatically open in container"
Please add a setting for always attempting to open in a container if a project contains the .devcontainer folder.

[2020-04-30 14:14] Chuxel commented on #308
Thanks for the suggestion!  To verify, would you be looking for something like this:

1. If the notification appears telling you that you can reopen in container, there's an option that says something along the lines of "always reopen".
2. If you click it, from that point forward, any time a folder is opened in VS Code with a devcontainer.json present, it just does it.

Moving to the vscode-remote

[2020-04-30 16:01] PavelSosin-320 commented on #135
@Chuxel Sorry! Could you explain in the details what is it First-class support?
Do you mean that ssh client and git work via bridge network of the container host? So you have no problems with the host firewall. Is it really independent of the container's network driver? I tried it with the official alpine/git container and it was not too easy.
I also didn't find any documentation about how to inje

[2020-04-30 16:04] Chuxel commented on #135
See https://code.visualstudio.com/docs/remote/containers#_using-ssh-keys

[2020-05-04 14:05] Chuxel commented on #305
JavaScript Node 14 is done by #312, need to do typescript, update others to use an ARG to pick which version of node to use.

[2020-05-04 14:55] NathanNZ opened #313 "WSL2 Default Workspace Binding Issue with DevContainers"
- VSCode Version: 1.44.2 & 1.45.0 (Insider)
- Local OS Version: Windows 10 2004
- Remote Extension/Connection Type: Docker with WSL2

Steps to Reproduce:

1. Set up Dev Containers using the following template.

2. Create a requirements.txt with the single line below

2. Update the devcontainer.json file with a postCreateCommand to install packages.

This will intermittently end up with one of the

[2020-05-05 17:44] Chuxel commented on #294
Started with Ubuntu 20.04 for #303 in this branch: https://github.com/microsoft/vscode-dev-containers/tree/clantz/multi-tag-and-variant-expansion/containers

Changes were needed to the CI system to support version specific tags (e.g. "bionic"). This branch also gets metadata into the npm package for use in VS Code or Codespaces or wherever.

[2020-05-06 17:51] jpogran opened #316 "Puppet PDK Container Image"
I contributed the `Puppet Development Kit - Dockerfile` devcontainer [config](https://github.com/microsoft/vscode-dev-containers/tree/master/containers/puppet).

I would like to contribute a devcontainer config that points to the official Puppet PDK docker [image](https://hub.docker.com/r/puppet/pdk), but do not know if you would want the existing devcontainer updated to use the image instead of a

[2020-05-06 18:37] Chuxel commented on #316
Thanks for asking!  I'd suggest updating the existing one since it sounds like it would hit the same need.  Really appreciate the contribution.

Anywhere that the existing contents are referenced in something like a comment from the VS Code tool pins to a tag in the repository, so you don't need to worry about that particular part either.

[2020-05-06 19:53] jpogran commented on #316
Thanks for confirming. Do you think I should leave the dockerfile and comment out the line in `devcontainer.json`, with an additional comment that they can use the dockerfile for more customization, or just remove it entirely as too much to get confused by.

[2020-05-06 19:58] Chuxel commented on #316
We're now pre-building some of the development containers, and what we've been doing is keeping a Dockerfile that just points to the image with some comments on how to customize.  We've also had other external teams / companies take ownership of building their own images.  Here's a few examples:

* Here's what ends up getting added to your project for Python now: https://github.com/microsoft/vscod

[2020-05-07 01:20] jpogran commented on #316
I tested the options above, and I think I've settled on the first one, it seems to give the most flexibility with the least amount of change. Would you prefer a new PR or to use #315 where I am updating the extension name

[2020-05-07 01:29] Chuxel commented on #316
Updating #315 probably makes sense. No need to do a separate one.

[2020-05-07 15:12] jpogran commented on #316
Thanks for answering all the questions @Chuxel, I updated #315 with the new commit

[2020-05-07 18:16] felipecassiors commented on #294
I submitted a pull request, wasn't aware of your current work. Should it be closed?

I would also want to say that might be also a good idea to change the base image from `ubuntu:20.04` to `buildpack-deps:focal` instead. And maybe reconsider the branding "git" on the container, because, isn't this too obvious?

[2020-05-07 23:25] Chuxel commented on #294
@felipecassiors Yeah I am looking into some refactoring that will allow us to just change a property to generate another version of a given image.  I plan to start with Ubuntu 20.04 since it's top of mind.

In terms of using `buildpack-deps:focal` - The only downside is that image is 695MB where the fully built image here is around 252MB.  Are there things critically missing you think should be in

[2020-05-08 13:01] felipecassiors commented on #294
@Chuxel the new approach sounds cool!

The `buildpack-deps`, according to [its documentation](https://hub.docker.com/_/buildpack-deps/), was conceived to be used as the base for any language-stack image, which I suppose is exactly what this image is. Concerning the size is indeed a valid point, however without these "basic" dependencies, many users may find out that they'll have to install some ot

[2020-05-08 13:32] Chuxel commented on #294
@felipecassiors Yes, these things are always a balancing act which is why I'm asking what you think is missing. If you install Python, the needed packages are provided automatically, and with most workloads installing something will be required. That's why there's a number of images in this repository.

The `universal` (codespaces-linux) image is more of an all-in Ubuntu image that comes from buil

[2020-05-08 13:49] felipecassiors commented on #294
I didn't know the `universal` image, it sounds cool.

When I meant missing dependencies, I meant the project-specific ones which are not installed by default through `apt` when installing `python`.

But your points are valid. And I didn't find any problem so far using this image. I agree to keep using the `ubuntu` as the base until, maybe later, we find a real reason for switching.

[2020-05-08 13:59] felipecrs opened #318 "Add distro information in Linux Universal container documentation"
Currently, the [README](https://github.com/microsoft/vscode-dev-containers/tree/master/containers/codespaces-linux) for Linux Universal image doesn't point the Linux distribution used as the base, might be useful to make this information clear.

I have another question as well, is there any reason for choosing Debian over Ubuntu as the distribution? Since the Linux Universal is meant to be more li

[2020-05-08 15:22] jpogran commented on #316
Looks like #315 was merged, so closing this. Thanks!

[2020-05-08 15:22] #316 closed

[2020-05-10 03:12] Chuxel opened #322 "Test failing in codespaces-linux - php not in path"
Since updating to the latest oryx image, the `codespaces-linux` image no longer appears to have PHP in the path.  We should either remove it from `test.sh` or correct that.

[code]

[2020-05-10 08:57] PavelSosin-320 opened #323 "Proposed Dev Containers extensibility mechanism poses security risks."
Proposed Dev container extensibility mechanism poses security risks:
The developer which extends an original MS Dev containers via additional software installation may expose personal credentials and publish them to colleagues as an extended Docker image. This issue can be mitigated via restrictions applied on folders which can contain extensions, **no-environment, at least.** Data like <UserProfi

[2020-05-10 21:31] Chuxel opened #325 "Regression tests for failing for non-root test to due root test occurring first"
This is a test bug. Currently test automation verifies both root and non-root users in the dev containers. Since the non-root test is run second, this can cause files to be locked by root if they are added during the test. Reversing the order should fix this.

[2020-05-10 21:33] Chuxel opened #326 "Typescript regression tests failing due to a complication error in the sample projects"
Something with the latest version of typescript is incompatible with the settings in the sample project.  This just needs to be updated to adapt

[2020-05-10 21:40] Chuxel commented on #322
(Also, I assume php should be available in the path, so this is not a test bug.)

[2020-05-11 14:57] charlielewis opened #327 "`gnupg2` misspelled in docker-in-docker docs"
Small issue:

- fix the spelling of `gnupg2`, it's misspelled in 2 READMEs:
https://github.com/microsoft/vscode-dev-containers/search?q=gunpg2

Many thanks for your hard work -- really appreciated.

[2020-05-12 02:15] #327 closed

[2020-05-12 02:18] Chuxel commented on #305
Resolved by #328

[2020-05-12 02:18] #305 closed

[2020-05-12 06:42] alecsg77 opened #329 "Unable to start terminal process: CreateProcess failed"
- VSCode Version: 1.45.0
- ms-vscode-remote.remote-containers: 0.117.0
- Local OS Version:  Microsoft Windows Version 1909 (OS Build 18363.778) and (OS Build 18363.815)
- Name of Dev Container Definition with Issue: (all)

Steps to Reproduce:

1.  Upgrade Docker Desktop community to 2.3.0.2 (45183)
2.  Try to run one of the example containers or a local devcontainer definition

[2020-05-12T06:20:3

[2020-05-12 08:31] ikappas commented on #329
Same here

[2020-05-12 13:31] Chuxel commented on #329
This is a dupe of https://github.com/microsoft/vscode-remote-release/issues/2975. We're seeing a number of strange issues with Docker 2.3.0.2 even outside of remote containers. We reccomend sticking with 2.2.0.5 for now.

See here for links: https://github.com/microsoft/vscode-remote-release/issues/2975#issuecomment-626900013

Please see  https://github.com/microsoft/vscode-remote-release/issues/2

[2020-05-12 13:31] #329 closed

[2020-05-13 17:34] connor4312 opened #331 "Python 3 Anaconda image fails to build"
- VSCode Version: 1.46.0-insider
- Local OS Version: Windows_NT x64 10.0.18363
- Name of Dev Container Definition with Issue: https://github.com/microsoft/vscode-dev-containers/tree/master/containers/python-3-anaconda

Steps to Reproduce:

1. Attempt to open a folder using the Python 3 anaconda image.
2. The process errors:

[code]

[2020-05-13 17:50] connor4312 commented on #331
Restarting docker fixed it -- seems time drift is a known thing. Should we force an ntp update or time synchronization before running apt commands?

[2020-05-14 00:27] Chuxel commented on #325
Resolved

[2020-05-14 00:27] #325 closed

[2020-05-14 01:10] Chuxel commented on #331
Yeah the drift is happening in the VM rather than in the container. There's continued work to try to fix it: https://github.com/docker/for-win/issues/4526

It actually went away and re-emerged in 2.1.x.x.

You'd need to update the host VM to fix it with time synchronization enabled... not sure we can really fix it on our end unfortunatley.

[2020-05-14 01:50] #331 closed

[2020-05-14 20:26] Chuxel commented on #294
@felipecassiors One update here - looks like buildpack-deps:bionic-curl is perfect and only minimally affects image size, so I'll likely switch to that.  The reason the other is so big is it has a ton of different source control systems in it beyond git. More than doubles the image size.

[2020-05-16 15:45] Chuxel opened #334 "Puppet references non-root user, but does not include one in image"
@jpogran I noticed an issue in a regression test. Currently the puppet definition uses the `puppet/pdk:latest` image. However, `devcontainer.json` includes a reference to a `vscode` user that does not exist in the image.

[code]

I'd suggest either removing this comment or adding the non-root user in the Dockerfile. You could either follow instructions [here](https://aka.ms/vscode-remote/container

[2020-05-16 17:33] shiraishimai commented on #162
Yes, I'm trying to setup flutter in dev container too. But the matter is I cannot map host's Chrome to the container, then flutter refuses to recognize the mapped Chrome as executable, also it's difficult to map different OS's Chrome path.

I believe the debugger for Chrome plugin should have the capability to attach the connection from host to container, and debugger for Chrome holds the host app

[2020-05-16 19:30] jpogran commented on #334
Thanks for catching this, I hadn't noticed that got added after the initial commit.

I think I have to remove the reference in the `devcontainer.json`, as I don't control the docker image creation part. I will make a ticket with that team to see if this can be added to the build.

[2020-05-16 19:35] jpogran commented on #334
For reference, this is the [dockerfile](https://github.com/puppetlabs/pdk-docker/blob/master/Dockerfile)

[2020-05-16 21:20] shiraishimai commented on #162
Also different port used by flutter has to be exposed from docker, this is tricky...

[2020-05-16 21:47] Chuxel commented on #334
Resolved by #335!  Thanks!

[2020-05-16 21:47] #334 closed

[2020-05-16 23:34] Chuxel commented on #326
Resolved

[2020-05-16 23:34] #326 closed

[2020-05-18 03:15] jahan01 opened #337 "Pytest discovery not working in python3 image"
- VSCode Version: 1.45.1
- Local OS Version: Mac OS 10.15.4
- Name of Dev Container Definition with Issue: `/containers/python-3/.devcontainer/devcontainer.json`

Steps to Reproduce:

1. Use any python repo with this workspace settting `"python.testing.pytestEnabled": true,`
2. You ll see python test discovery fails with below error in _Python Test Log_ channel in _Output_ panel
[code]

This may b

[2020-05-18 05:26] PavelSosin-320 opened #338 "Implement standart interaction mechanism with remote/managed containers"
Since interaction with remotely running containers or service replicas via terminal's streams redirection is impossible due to input stream being disabled, Please, implement the common interaction mechanism based solely on docker exec.
Actual
   - shell terminal is opened.
Expected:
   docker exec mycontId help returns a list of commands predefined as Linux aliases
   docker exec mycontId command

[2020-05-18 10:22] DanTup commented on #162
There's a web-server device built into Flutter to support remoting like this. You'll need to the [Dart Debug extension](https://chrome.google.com/webstore/detail/dart-debug-extension/eljbmlghnomdjgdjmbdekegdkbabckhm) to connect the Chrome debugger back to the VS Code extension host though.

I have a sample repo here (it's designed for Codespaces, but doesn't work there currently due to how the VS

[2020-05-18 16:30] Chuxel opened #339 "Add dev container definition for developing VS Code"
We would like to demonstrate the development of applications with a GUI component on Linux using VS Code as the example.

Current working draft is here: https://github.com/microsoft/vscode/tree/clantz/codespace

Goals:
1. Ensure this works on all platforms - macOS, Windows, Linux.
2. Ensure minimal setup - techniques like X forwarding are problematic for this reason.
3. Enable use in Codespaces ov

[2020-05-19 01:18] Chuxel opened #340 "Azure Functions definitions stopped working with recent image update"
@TsuyoshiUshio Something appears to have changed in the images referenced in the Azure Functions Node.js 10, 12, and Python definition that broke the dev containers.

I think this happened either Sunday or today, since regression tests ran successfully on Saturday.

In the case of the node images, there is no longer a `node` user in the image while this is referenced in the `devcontainer.json`.  P

[2020-05-19 01:30] Chuxel commented on #340
Log example:
[code]

If you remove `"remoteUser": "node"` from `devcontainer.json`, it starts, but `git` fails:
[code]

I'm pretty sure it's the app service image because this is the ENTRYPOINT:
[code]
like: https://github.com/Azure/azure-functions-docker/blob/master/host/3.0/buster/amd64/node/node10/node10-appservice.Dockerfile

[2020-05-19 03:03] TsuyoshiUshio commented on #340
Sorry @Chuxel Actually, I do nothing between Sun and Today for publishing. I'll investigate the root cause and rollback as fast as I can.

[2020-05-19 03:37] PavelSosin-320 commented on #339
Desktop GUI vs Browser GUI, what is better? I vote for browser GUI like Eclipse, SAP dev tools, and Github Sattelite. It is faster, more secure, and requires zero IT knowledge from the user. The application's user will never install something on his desktop. It is also Microsoft's strategy today. The developer must eat the same hay.

[2020-05-19 04:35] TsuyoshiUshio commented on #340
Hi @Chuxel I rollback three images (node-10, node-12, python) and I tested locally, now I believe, its fine.
Could you add me your CI system to get notification of the failure of the azure functions related images? The root cause is old version seems released. (The node bug was happened before Friday). I try not to happen again this. I'm very sorry about that and thank you for pinging me!

[2020-05-19 14:02] Chuxel commented on #340
@TsuyoshiUshio Yep things look good now.

The regression test suite runs in a different internal repo given what it needs access to. I can look at adding you given you are internal, but it tests all definitions, so you'd get notices even if it didn't apply to the Azure Functions definitions.

[2020-05-19 14:02] #340 closed

[2020-05-20 13:55] Chuxel opened #343 "Update Java 8, 12 definitions to use common script"
The Java 11 definition is now using the common dependency script thanks to PR #342. For consistency, it makes sense to do the same thing for Java 8 and 12, and the Tomcat definition.

[2020-05-21 05:27] Foreverflying opened #344 ""forwardPorts" conflicts with docker-compose port mapping"
- VSCode Version: 1.45.1
- Local OS Version: MacOS 10.15.4
- Name of Dev Container Definition with Issue: forwardPorts conflicts with docker-compose port mapping

If we open a browser by auto launching after build (or by clicking an HTTP link maybe), which accesses port 8080, the vscode will try to map 8080 to a random localhost port and open the link with that port.

If we want it to mapping to a

[2020-05-21 13:47] Chuxel commented on #344
Yes, if the port is already in use locally - which would be the case here - forwarding works but uses an alternate port.  For example, you may be running a server on your local machine for that is taking up the port, so it uses another one.  That's the expected behavior.  Is this causing a problem for you?

[2020-05-21 16:11] Chuxel commented on #303
Resolved with https://github.com/microsoft/vscode-dev-containers/pull/345

[2020-05-21 16:11] #303 closed

[2020-05-22 03:01] TheBegining opened #346 "Different dockerComposeFile setting on mac & windows"
On window
devcontainer.json the path is `..\\docker-compose.yml`
[code]

On mac
devcontainer.json the path is `../docker-compose.yml`
[code]

Can I use the same setting,So that I can use it both on mac & windows.

[2020-05-23 05:21] #346 closed

[2020-05-23 05:21] TheBegining commented on #346
The mac config is working on windows.

[2020-05-25 12:23] matsp commented on #162
Hey @DanTup maybe you have an idea whats happening in my setup.

I setup a docker [image](https://github.com/matsp/docker-flutter) and the following files in my `.devcontainer` directory:

*Dockerfile*

[code]

*devcontainer.json*

[code]

On Linux I can use the android emulator without any problem but when I try to target `web` I get the following error in the dart process:

[code]

I also have i

[2020-05-25 14:36] DanTup commented on #162
@matsp the error you posted has been raised at https://github.com/flutter/flutter/issues/54971. I don't think it should break anything though - it happens when a file is requested that should be a 404.

Great! :-)

[2020-05-25 16:23] matsp commented on #162
@DanTup Thanks for the reply! When I switch the channel of flutter to `beta` in the running container of your example repo the webapp is not loading but not showing the error on the console. So same behavior but without error log.

[2020-05-26 08:27] DanTup commented on #162
Sorry, I misread the error.. I'd seen the error before, but the 404 in my case was for a font. In your case it looks more serious:

[code]

I'll do some testing and see if I can repro here.

[2020-05-26 08:45] DanTup commented on #162
@matsp I don't seem to be able to repro - I fan using the `beta` branch and was still able to open the app and use the Dart Debug extension to connect.

How did you change to beta? I did it by updating the `Dockerfile` to clone that branch:

[code]

If you did it by changing at the terminal, you may need to run `flutter clean` and/or `flutter update-packages` and/or `flutter pub get` to get everyt

[2020-05-26 09:13] matsp commented on #162
@DanTup I tested this with my own image where I am using a fixed version from SDK archive. Executing `flutter update-packages` did the trick and debugging web-server is working as expected. Have you an idea why I need to update the packages on a fresh flutter installation (from SDK archive)?

[2020-05-26 09:36] DanTup commented on #162
I do not - this does sound weird. I do know that the archive versions have their own PubCache shipped inside the archive though (in the `.pub-cache` folder inside the SDK folder). I wonder if something may have been missing from that. If you can repro this, it'd be interesting to see if the contents of that folder change before/after.

[2020-05-26 10:16] matsp commented on #162
I did a diff with the flutter directory before and after the `flutter update-packages`:

https://gist.github.com/matsp/3d81b9cc6e757b5b0799f5994bacb1b9

Now it's clear why I need to update. The SDK is delivered with a URI that does not match.

[2020-05-26 12:29] DanTup commented on #162
@matsp thanks for checking! I downloaded the latest Dev and Beta zips, and was able to repro issues locally. I'm not sure this is supposed to be required, so I've filed a bug here: https://github.com/flutter/flutter/issues/58003

[2020-05-26 13:02] PavelSosin-320 commented on #304
@Chuxel
How-to: correctly deploy dev container to managed Swarm cluster(*)
0. Enable Swarm mode in Docker Desktop and init Swarm - docker swarm init
1. Deploy registry;2 image as localhost:5000 from Dockerhub as a service - local images are not supported
2. Clone VSCodeDevContainerbase to the local registry
3 Deploy the cloned image to the swarm as a service:
[code]
4. Find the task running locall

[2020-05-26 13:32] Chuxel commented on #304
@PavelSosin-320 This is off topic for this issue. While Docker Compose is supported, there is not specific support for Docker Swarm today, so please raise your own issue at https://github.com/microsoft/vscode-remote-release or upvote https://github.com/microsoft/vscode-remote-release/issues/148

[2020-05-26 19:14] manandre commented on #14
Hello, I am working on devcontainer support in the [npgsql/npgsql](https://github.com/npgsql/npgsql) repo (the .NET data provider for PostgreSQL).
I would need some help to solve a port forwarding issue.
See npgsql/npgsql#2972 for details.

[2020-05-27 07:59] PavelSosin-320 opened #348 "Support devcontainer deploymet as a service to orchestration engines provided by Docker Desktop"
#https://github.com/microsoft/vscode-dev-containers/issues/304
Please, provide support deployment of devcontainer as a service via docker service create and docker stack deploy to Clusters managed by orchestration engines provided by Docker Desktop out-of-the-box. docker service stacks are supported for Swarm and Kubernetes.
Service container placement to any node, current by default  is supported

[2020-05-27 14:00] Chuxel opened #349 "Bad generated image reference in Python and Ubuntu definitions"
The build system appears to have generated bad image references for the Python and Ubuntu definitions in v0.118.0.

[code]

This should be `0-${VARIANT}`. I'll look into resolving this problem.

//cc: @chrmarti

[2020-05-27 15:46] #349 closed

[2020-05-28 01:20] Chuxel commented on #337
@brettcannon Brett - I assume the reason this is happening because we've got pytest installed using PIPX to avoid module conflicts, is that correct? Given this code appears to be doing a direct import, should we be installing pylint globally?

[2020-05-28 06:02] rucciva opened #350 "Option to specify global docker-compose environment file"
We would like to run dev container that extend our current docker-compose environment, whose files (including .env file) reside in a certain sub folder in the workspace. Specifying `env_file` only on the service used as dev container is not enough since there are other service that depends on the inherited environment from docker-compose `.env` file. Currently, [vscode can  only pick up the file f

[2020-05-28 10:39] PavelSosin-320 opened #352 "New deployment taget: Ubuntu MicroK8s"
New fresh dev container deployment target: Ubuntu MicroK8S [New Kubernetes for WSL v2](https://ubuntu.com/blog/kubernetes-on-windows-with-microk8s-and-wsl-2). Surprise :)

[2020-05-28 10:46] PavelSosin-320 commented on #352
Ubuntu Microk8s is available now on Windows 10 2004. This is a new deployment target! [Ubuntu  Micro K8S released](https://ubuntu.com/blog/kubernetes-on-windows-with-microk8s-and-wsl-2)

[2020-05-28 11:14] rucciva commented on #350
or maybe specify the directory where the docker-compose should be started. We also use `$PWD` variable inside docker-compose.yml to mount host folder as in `../../:${PWD}/../../`, so that directory inside container and host look the same.

[2020-05-28 12:58] Chuxel commented on #350
A simple resolution here could be to have a docker-compose file that extends your main one that is only reference in devcontainer.json.  That can then reference either your other env file or add a set of variables directly.  See https://aka.ms/vscode-remote/containers/docker-compose/extend

Would that work for your case?

[2020-05-28 13:06] Chuxel commented on #352
I believe this would be covered by Kuberntes support would it not? Are you thinking this is a feature request?

[2020-05-28 18:21] brettcannon commented on #337
It's because users are expected to have pytest installed as part of their project so it can be impored. I honestly overlooked the fact that pytest was being installed by pipx as part of the Dockerfile.

[2020-05-28 18:23] Chuxel commented on #337
@brettcannon Should we move it global or not include it all given that?  (Also, any other tools we need to consider?)

[2020-05-28 18:26] brettcannon commented on #337
- I wouldn't bother including it
- Looking at https://github.com/microsoft/vscode-dev-containers/blob/master/containers/python-3/.devcontainer/base.Dockerfile, pytest is the only thing that should probably get dropped

[2020-05-28 18:33] Chuxel commented on #337
@jahan01 Installing pytest yourself should resolve the issue. We'll remove it from future versions of the image to avoid confusion.

[2020-05-28 18:48] #337 closed

[2020-06-01 00:28] lumaxis opened #357 "Add Homebrew to the default Codespaces image"
My default development setup includes several non-standard libraries, for example to allow my preferred prompt customizations.

To install these libraries via my `dotfiles` repo and the default setup, I would like to use Homebrew. However, since Homebrew is not installed in a Codespace by default today and because installing Homebrew from scratch is a comparatively lengthy operation, I have to res

[2020-06-01 03:09] akaroml commented on #186
Thanks Chuck. This looks promising.  @Eskibear could you take a look at the comments from @Chuxel?

@Chuxel I'm wondering how this would be surfaced to the users through UI (e.g. ask questions before they open the workspace in a remote container). Or it stays at the code level and users need to modify `devcontainer.json` directly.

[2020-06-01 05:30] PavelSosin-320 commented on #186
Reference: [Official jdk 1.8&Maven3 image](https://hub.docker.com/r/dockette/jdk8/)

[2020-06-02 08:36] chrmarti opened #359 ".npmignores refering to definition-build.json"
These need to be updated:
![image](https://user-images.githubusercontent.com/9205389/83498894-cd190f80-a4bc-11ea-82d4-b338162d5b33.png)

[2020-06-02 13:37] Chuxel commented on #359
Good catch - must have missed this with a merge. Fixed in https://github.com/microsoft/vscode-dev-containers/commit/730d3ff110d1f735507583ca3441f0b6ecb84c4f.

[2020-06-02 13:37] #359 closed

[2020-06-05 01:32] ajschmidt8 opened #361 "Missing dependency for black in python-3 devcontainer"
**Environment Info:**
- VSCode Version: 1.45.1
- Local OS Version: Ubuntu 20.04
- Name of Dev Container Definition with Issue: [python-3](https://github.com/microsoft/vscode-dev-containers/tree/master/containers/python-3)

**Issue:**
The [black](https://github.com/microsoft/vscode-dev-containers/blob/master/containers/python-3/.devcontainer/base.Dockerfile#L37) package in the [python-3](https://gi

[2020-06-05 15:14] Chuxel commented on #361
Wild - thanks for catching it. I'm surprised the dependency didn't get installed - seems like a bug in the black package. We should be able to patch for it - also explains why we missed it.

[2020-06-06 23:28] bhack commented on #339
@Chuxel Have you explored also xpra html5 client https://xpra.org/trac/wiki/Clients/HTML5?

[2020-06-07 07:19] PavelSosin-320 commented on #339
@bhack, The additional Web browser-based UI has the test only if it is compatible with other compatible or potentially compatible solutions like VSCode, Eclipse Che, and SAP WeIDE. Otherwise, the solution will die from extension starvation.

[2020-06-08 21:42] Chuxel commented on #322
Resolved in #362

[2020-06-08 21:42] #322 closed

[2020-06-08 22:08] #361 closed

[2020-06-08 22:08] Chuxel commented on #361
Figured out what was going on and resolved it.  Thanks again!

[2020-06-08 23:59] ajschmidt8 commented on #361
Nice! No problem. What was the issue? I'm perplexed as to why `--force-reinstall` fixed it

[2020-06-09 00:10] Chuxel commented on #361
pipx is installed in a user location while other tools are installed. To ensure the tools can interact with global packages, the `--system-site-packages` flag is passed in. This finds pipx in its temporary location which itself installs `click`, so it assumes its already installed. Forcing reinstall causes it to be installed in the venv which resolves the problem.

[2020-06-09 14:57] Chuxel commented on #339
@bhack That's an interesting thought -  I stuck with VNC given its ubiquity and that it is easy to have multiple clients connecting to a single desktop session. I actually found I got decent performance from VNC with a proper VNC client (not the Mac Screen Sharing app) which is exposed directly on 5901. noVNC also seems to provides a reasonable experience which is exposed on 6080. I'd have to see

[2020-06-09 15:01] Chuxel opened #365 "Investigate Xpra for the Code - OSS dev container"
Forked from #339

Xpra is a more recent application sharing and desktop sharing mechanism that boasts better performance and a built in HTML5 client.  Currently the Code - OSS dev container uses VNC and noVNC given its ubiquity, but Xpra might be a better option.

This issue is tracking investigating using it as a replacement or an option for the Code - OSS dev container.

[2020-06-09 15:05] Chuxel opened #366 "Abstract desktop/app sharing in Code - OSS container into a common script for reuse"
Related to #339, #365

The Code - OSS dev container includes the ability view Code - OSS running inside the container from the web or a client.  This code can be abstracted such that it can be better reused via a script in the `script-library` folder in this repository.

[2020-06-09 20:59] bhack commented on #365
You could try a run with https://github.com/ffeldhaus/docker-xpra-html5 (check if the repo are update)

[2020-06-10 17:04] Chuxel opened #367 ".NET definitions should specifically reference the Debian flavor of the images"
As mentioned in https://github.com/microsoft/vscode-remote-try-dotnetcore/pull/15, while Remote - Containers does not support Windows Containers or using LCOW, the .NET Core images will use the Windows Server Core version if windows containers are enabled. This is a problem since the Dockerfile contains entirely Linux commands.

To future proof the definitions, we should explicitly reference the `

[2020-06-11 01:22] InTheCloudDan opened #368 "Update Ansible devcontainer to support Collections"
I tried to use: https://github.com/microsoft/vscode-dev-containers/tree/master/containers/azure-ansible/.devcontainer as basis for Ansible Collection development. An immediate issue I ran into is that the mount is not to the default COLLECTIONS_PATH. It could either mount a volume to that location or set an environment variable for it.

I'm just learning my way around these containers or I'd offer

[2020-06-11 01:25] Chuxel commented on #368
@cmendible, should we make a tweak here?

[2020-06-11 09:38] olaven opened #369 "Cannot connect to postgres"
Hi! Thanks for this amazing piece of technology.
I am starting a devcontainer with node and postgres, based on the example provided here.
However, I am not able to connect to the database from the node program.
Exposing the port, i _am_ able to connect with a postgres client on my mac (pgadmin 4)

- VSCode Version: 1.47.0-insider
- Local OS Version: 10.15.3

## files
[code]
[code]
[code]
[code]
Th

[2020-06-11 13:34] bhack commented on #365
Just to add some funny recepit :smile: This is vscode itself in docker with xpra https://github.com/rosera/xpra-vscode/tree/master

[2020-06-11 19:54] olaven commented on #369
Sorry, this was due to a misconception on my part.
For anyone else: I am connecting to `localhost`, but the hostname from `link` i docker-compose is always the same as the alias (i.e. "db" in m ycase).

Specifying `PGHOST=db` in `.env` fixed the issue 👍

[2020-06-11 19:54] #369 closed

[2020-06-12 05:45] illeatmyhat opened #370 "Building custom devcontainer causes DNS corruption?"
Environment Information:
[code]
- Name of Dev Container Definition with Issue: Custom

I attempted to [create my own devcontainer image featuring TypeScript, Node 14, and Python 3.8](https://gist.github.com/illeatmyhat/a58d425b08cfd89a77405dc4ca6a3526).
There is a spurious issue where I build this Dockerfile and the DNS for `raw.githubusercontent.com` becomes corrupt both on the host and in Docker

[2020-06-13 14:03] ajschmidt8 commented on #361
@Chuxel, thanks for that explanation. Two more quick questions.

1) Is there an online repository similar to DockerHub where I can view all of the VSCode Devcontainer image and tags? I tried navigating to [mcr.microsoft.com/vscode/devcontainers/python](http://mcr.microsoft.com/vscode/devcontainers/python) from [here](https://github.com/microsoft/vscode-dev-containers/blob/master/containers/python-

[2020-06-15 03:37] fiveisprime opened #372 "Update Go extension for Go devcontainer"
`ms-vscode.go` => `golang.Go`

[2020-06-17 15:57] lawrencegripper opened #375 "Simplify Golang definition once gopls is 1.0"
Golang has moved toward using `gopls` for nearly all language features. Most of the tooling installed in the current template is no longer needed and adds bloat to the container.

Would it be alright to push another golang container and have two, one using the go language server and the other one using the existing setup?

With `gopls` the install drops to the following, with a few additional sett

[2020-06-18 16:52] bhack opened #377 "Tensorflow devcontainer"
I am trying to prepare a configuration to contribute for Tensorflow.
As you can from https://github.com/tensorflow/build/issues/8#issuecomment-646081197 I am using the official developer image with `-u $(id -u):$(id -g)` cause we don't have an existing non root user in the official image.
This is working fine for a manual build inside the container.

Instead for `.devcontainer` I've tried to use `

[2020-06-20 18:40] cmendible commented on #368
@InTheCloudDan check if https://github.com/microsoft/vscode-dev-containers/pull/379 works for you. This will mount the folder **.ansible/collections** from your local profile into the container.

[2020-06-22 23:11] Chuxel commented on #377
@bhack If that user doesn't actually exist in the image, it will fall back to using root. (The `-u` argument doesn't create the user.) Is this related to your PR (https://github.com/microsoft/vscode-dev-containers/pull/347)?

Your Dockerfile includes `vscode` user, so that should work there. The Remote - Containers functionality will run commands to modify the GID/UID of the specified user to the

[2020-06-22 23:15] bhack commented on #377
It is not related to (#347) but to a WIP for Tensorflow itself. I would like to not make another Dockerfile wrapper as for Tensorflow addons.
But It seems that there Is no solution if we want to have a non root user over the official Tensorflow devel image.

[2020-06-22 23:26] Chuxel commented on #375
@lawrencegripper I would prefer not to have two since customers would need to know which one to use in a given case. These show up in VS Code UX, so showing two with the same functionality won't make sense. With Google picking up management of the extension, I'd it also may make sense to have the extension owners weigh in on what is done here at this point. I'll see if I can get a contact.

[2020-06-22 23:27] Chuxel commented on #372
Resolved already with https://github.com/microsoft/vscode-dev-containers/commit/496023212a58ea3df0c6873f5948c12402e10dc2

[2020-06-22 23:27] #372 closed

[2020-06-22 23:28] Chuxel commented on #377
@bhack Yes, unfortunately that is the case.

Closing given I think I covered the answer here, but LMK if you have further questions.

[2020-06-22 23:28] #377 closed

[2020-06-23 00:18] hyangah commented on #375
Is there any reason to hardcode the settings for gopls params? They look different from the gopls default settings.

`gopls` is still in alpha (so sometime users switch back and forth) and the `"gopls"` section in particular evolves very quickly. So, I'd prefer not to introduce an additional maintenance burden until `"gopls"` is close to 1.0. @stamblerre

And the default set by `gopls` when the se

[2020-06-23 00:24] Chuxel commented on #375
@hyangah Yeah, the settings in `devcontainer.json` only affect the extension when it is running in the container. (These are the settings under the "Remote" tab in the settings editor.) We've been adding them to the pre-defined definitions here since the paths could have been updated by the user to paths on their local machine - which in many cases will not work (e.g. Windows paths).

We can set t

[2020-06-23 00:37] Chuxel commented on #375
@hyangah Forgot to say - for preferences, we generally do not set them in `devcontainer.json` unless it is a mode the container needs.  Those can flow through... it's just paths that typically are set. So, `"go.gopath": "/go"`

[2020-06-23 00:59] hyangah commented on #375
@Chuxel thanks for the clarification. I like the idea of pinning the default versions of underlying go tools in general. (also, it allows us to use container caching in our ci :-) but I will let the gopls team and @stamblerre chime in since gopls is moving fast and vscode-go has a version check logic to always recommend the latest version.

[2020-06-23 02:00] stamblerre commented on #375
I would prefer that we not pin versions of `gopls`, at least not until v1.0. Like @hyangah said, things are moving pretty fast right now, and it's important that we're able to get latest improvements to users quickly.

Similarly, the settings are frequently changing, and I think the only required setting to enable `gopls` should be `"go.useLanguageServer": true`. All of the settings listed above i

[2020-06-23 12:58] nathanjwtx opened #380 "Sample containers hang on port forwarding step during build"
The sample containers hang/stop on the port forwarding step. I have tried this on 2 different laptops both with Windows 10 Pro but different firewall software installed and on the same internet connection. I am able to create my own containers from a folder etc.

I also tried this by cloning the various repos and attempting to open the repo in a container with the same result.

- VSCode Version: 1

[2020-06-23 16:23] bhack commented on #377
@Chuxel check https://github.com/microsoft/vscode-dev-containers/pull/381

[2020-06-23 23:12] Chuxel commented on #375
@hyangah @stamblerre Makes sense. Let's mark this as a feature request and tweak the description to specifically mention gopls going 1.0 to re-evaluate. That work?

[2020-06-23 23:28] hyangah commented on #375
Yes, that works for us! Thanks!!

[2020-06-23 23:34] Chuxel commented on #287
The good news is that this is being explored this iteration.  See https://github.com/microsoft/vscode-remote-release/issues/3198 https://github.com/microsoft/vscode-remote-release/issues/2485, https://github.com/microsoft/vscode-remote-release/issues/1785 for information on progress.

Closing as a duplicate since the vscode-remote-release repository is the right place for this particular topic.

[2020-06-23 23:34] #287 closed

[2020-06-24 01:43] #367 closed

[2020-06-24 02:23] Chuxel commented on #357
@lumaxis Thanks for the request. I'm a big Homebrew fan on macOS but haven't spent time with it on Linux. It appears to have a number of dependencies and not install or run as root, so we'd need to dig in more. At the moment we're trying to keep the number of different things we install to a minimum, so I'll mark this as a feature request to see how much interest we get for doing it.

[2020-06-24 09:43] lawrencegripper commented on #375
Sounds great - look forward to it, thanks all!

Ps. Sorry for muddying the waters with my settings snipped, copied my current working one - agree many of these are out of date (woops) and personal preference.

@Chuxel on a related note, is there a way to pin an extension version in a devcontainer? We use them a fair bit on our team and saw the move to `golang.go` for the golang extension break all

[2020-06-24 09:58] stuartleeks commented on #375
+1 One of the big benefits that I see for devcontainers is consistency of environments across a team. We hit issues a few times where this wasn't the case because one person built their devcontainer yesterday and then someone else built their devcontainer the following day, just after a release of one of the dependencies. When there are behavioural changes in the dependency this can cause a previo

[2020-06-24 13:57] Chuxel commented on #375
That is good feedback. VS Code generally follows a model where this is not desirable, but I can see in some cases that it would be. Would you mind raisning a feature request at https://github.com/microsoft/vscode-remote-release ?

@stuartleeks Yes, agreed. However, I think one of the challenges here (specifically) is maintenance since each tool can update independently and as mentioned above, `gop

[2020-06-24 14:07] lawrencegripper commented on #375
Sure, I'll raise the extension versioning as separate issue.

Yes I really like this idea so at the top of the `dockerfile` there would be a block of versions that can be set easily but default to latest. It also highlights that there is indeterminate behavior by default and provides a nice way to pin, if users want that, without having the maintenance burden on this repo.

[2020-06-26 14:50] qvjp opened #384 "Can not Open Folder in Container"
- VSCode Version: 1.46.1(user setup)
- Local OS Version: Windows10 Pro 2004 19041.330
- Name of Dev Container Definition with Issue: ubuntu 20.04

Steps to Reproduce:

1. Attach to container, open a directory, it's ok
2. use crtl + shift + p select `remote-containers: openfolder in container`, open another directory, got an error:
![image](https://user-images.githubusercontent.com/17522949/8587002

[2020-06-29 02:03] sr229 opened #385 "Dev Container fails on build/rebuilds on first try : extensionsCache cannot be found"
- VSCode Version: 1.47.0-insider (9bf6af04dcb5c2e531cedca83cd188939ca1b0db)
- Local OS Version: Windows_NT x64 10.0.20152
- Name of Dev Container Definition with Issue: N/A

It seems that `extensionsCache` is causing the build to fail. However, on retries it works finally, just on build/rebuilds it fails.

![image](https://user-images.githubusercontent.com/14976516/85965505-73d6ca00-b9ef-11ea-8039

[2020-06-29 13:53] #339 closed

[2020-06-30 10:42] bhack opened #387 "Overlay .devcontiner"
We need to find a way to overlay `.devcontainer`.
Suppose that user are switch commented lines on default setting to enable GPU as in https://github.com/microsoft/vscode-dev-containers/pull/381.
I still want to distribute updates but if users are editing the same file that I am distributing  it will be hard to get updates. So I suppose that user override need to be placed in a separate file.
Just

[2020-07-03 07:56] chrmarti opened #392 "Add comment 'from URL' and 'do not edit' to built-in devcontainer.json"
With https://github.com/microsoft/vscode-remote-release/issues/3293 it has become very easy for new users to open a built-in devcontainer.json. For their info and to prevent them loosing changes we should include a comment at the top of every built-in config pointing the user to the source in this repository and advising them not to edit the file because the changes will be lost when the extension

[2020-07-03 14:35] Chuxel commented on #392
@chrmarti Just to clarify, are you talking about for `repository-containers` specifically?  If so, that's a good call out. (For `containers`, there's already a pointer.)

[2020-07-03 14:58] chrmarti commented on #392
Yes, those configurations in `repository-containers`. We don't have that many yet, but with the (delayed) automatic activation of Remote-Containers and the link for opening the devcontainer.json in the Reopen notification, it seems likely that we will see (especially new) users edit these built-in configurations and then loosing their changes when the extension updates.

Not sure how many of these

[2020-07-03 20:13] Chuxel commented on #392
@chrmarti Yeah I was thinking we could actually tell people that if they want to make modifications they can copy the contents to a local repository folder now that we have that.

[2020-07-03 20:34] chrmarti commented on #392
I agree, we can also think about adding a command to help with that.

[2020-07-06 02:26] lephuongbg opened #394 "Remote Container does not respect workspace's integrated shell setting"
- VSCode Version: 1.46.1
- OS Version: Ubuntu 18.04
- Name of Dev Container Definition with Issue:

**Steps to Reproduce:**

1. Set User Setting's `terminal.integrated.shell.linux` to **/usr/bin/fish**
2. Try "Open Repository in Container", then use "microsoft/vscode-remote-try-python".
3. Remove Remote's User Setting' `terminal.integrated.shell.linux` config.
2. Set Workspace Setting's `terminal.

[2020-07-06 06:31] chrmarti commented on #392
We could offer to copy a configuration to one of the configuration folders in the settings if there is one and also to the workspace folder through a command. I'd first wait and see if this is indeed something users request / need, but there are definitely options for improvement.

[2020-07-06 13:36] chrmarti commented on #392
Current suggestion for the June milestone is to open the devcontainer.json in the browser on GitHub: https://github.com/microsoft/vscode-remote-release/issues/3322. We that we don't need the comments for now.

[2020-07-07 19:32] AarynSmith commented on #14
I working on submitting a PR #395 for a Vue container now.

[2020-07-10 08:43] leighhopcroft opened #397 "Add Go image to Docker Hub or similar so we can use as a base image for ./devcontainer/Dockerfile, rather than cloning."

[2020-07-10 20:29] timheuer opened #398 ".NET 3.1.302 SDK not installed on codespace-linux"
- Name of Dev Container Definition with Issue: codespace-linux

Steps to Reproduce:

1. Create a Codespace w/Linux using a Blazor Wasm app repo
2. Attempt to build
EXPECT: Success
ACTUAL: Fail as Blazor Wasm build components in 3.1.302+ SDK for .NET Core which is not present as of the date of this report

[2020-07-10 20:30] Chuxel commented on #398
//cc: @edgonmsft

[2020-07-10 20:34] timheuer commented on #398
@chuxel - looks like it actually needs to be here: https://github.com/microsoft/Oryx/blob/c2314bce463ceb6c82be1291c1f6f78e5fcab14f/platforms/dotnet/versionsToBuild.txt#L28 as a new line...

[2020-07-12 03:58] johnnyhuy opened #402 "Reopen locally from dev container on WSL doesn't go back to WSL remote"
- VSCode Version: 1.46.1
- Local OS Version: Windows 10.0.19041 Build 19041
- Name of Dev Container Definition with Issue: Reopen locally from dev container on WSL doesn't go back to WSL remote

## Steps to Reproduce

1. Open a project via WSL remote that has dev container setup
2. Build and open in dev container
3. Reopen back to local and it goes to the Windows filesystem view of the project

It

[2020-07-14 21:33] Chuxel opened #407 "Pagination not quite right with builds"
Right now CI breaks image builds into 4 pages. One page is dedicated to `codespaces-linux` due to the time it takes to build, then definitions with parents are tied together, and the remainder should be filled across the pages. Currently this results in an empty last page instead:

[code]

[2020-07-14 21:34] Chuxel commented on #368
Closing since #379 should have this covered. Feel free to reopen if that is not the case.  Thanks much!

[2020-07-14 21:34] #368 closed

[2020-07-14 22:14] edufolly commented on #162
Hi Folks,

this dev-container (https://github.com/lucashilles/flutter-dev-container) works great with @DanTup extension.

Working on it to improve compatibility and other functionalities.

[2020-07-15 14:04] Chuxel opened #409 "Simplify dev containers that do more than install packages"
Currently the development container definitions in this repository use a single `RUN` to ensure any cleanup that happens is applied to the same layer. This ensures the image size is as small as possible since doing this across RUNs means there is a layer with the contents in the image even after it is removed in a subsequent layer. This is particularly important in pre-built images and published i

[2020-07-15 14:15] Chuxel commented on #343
Merging into #409

[2020-07-15 14:15] #343 closed

[2020-07-15 14:15] Chuxel commented on #296
This would be resolved by using the common setup script. Merging into #409

[2020-07-15 14:15] #296 closed

[2020-07-18 03:37] Aisuko opened #416 "VScode' dev-container initial terminal loses the PATH which defined in the Dockerfile"
- VSCode Version:

[code]

- Local OS Version:
- Name of Dev Container Definition with Issue:

The customer Dockerfile I install the `golang` into the [`Kubernetes & Helm`](https://github.com/microsoft/vscode-dev-containers/tree/master/containers/kubernetes-helm)

[code]

devcontainer.json

[code]

Steps to Reproduce:

1. Open the container with `vscode-container-extension`
2. Input `echo $PATH` c

[2020-07-18 12:51] johnnyreilly opened #418 "Dot Net Core devcontainer without "The configured user limit (128) on the number of inotify instances has been reached""
I use the [dotnetcore devcontainer](https://github.com/microsoft/vscode-dev-containers/tree/master/containers/dotnetcore) and it's wonderful!  Thanks so much for putting it together!

I have one problem with the container.  I often experience the famous "The configured user limit (128) on the number of inotify instances has been reached" issue, particularly when running tests.  This doesn't seem t

[2020-07-18 14:16] Chuxel commented on #416
It looks like you are in bash in the terminal, so `echo "export PATH=$PATH:/usr/local/go/bin" | tee -a >> /home/${USERNAME}/.zshrc` wouldn't be applied.  In addition, `export PATH=$PATH:/usr/local/go/bin` would only last for the duration of the Dockerfile build... just like in a shell script.

To update the path globally, use the `ENV` directive.
[code]

[2020-07-20 03:57] Aisuko commented on #416
@Chuxel Thank you very much, sir.  the `ENV PATH=$PATH:/usr/local/go/bin` is useful me.  👍👍

[2020-07-20 03:57] #416 closed

[2020-07-20 20:43] cliffburdick opened #420 "Incorrect Username/Permissions"
- VSCode Version: 1.47.1
- Local OS Version: Ubuntu 18.04
- Name of Dev Container Definition with Issue:

Steps to Reproduce:

1. Create Dockerfile using the template here:
https://github.com/microsoft/vscode-dev-containers/blob/master/containers/cpp/.devcontainer/Dockerfile

2. Run the container with remoteUser vscode. Everything seems to work properly, except if you create a new file, it's using

[2020-07-20 21:01] #420 closed

[2020-07-21 01:24] Chuxel commented on #418
This is a great suggestion. Happy to take a PR if you've got one, otherwise we'll add this to the queue to pick up!

[2020-07-21 09:56] bhack opened #421 "Git hooks"
Can you document in a template or in a doc what is the recommended way to prepare git hooks in the `.devcontainer`?

[2020-07-21 11:35] ilkka opened #422 "Java dev container template has an ineffective cleanup step"
I don't think this cleanup step in the Dockerfile for the java-11 dev container (probably the other versions too) is doing what it is intended to do:

https://github.com/microsoft/vscode-dev-containers/blob/dfda2f5e04c41c7902216b149d4abce1f6f54e23/containers/java-11/.devcontainer/Dockerfile#L53-L56

Removing files and/or packages in a separate RUN instruction will simply render them invisible in t

[2020-07-21 13:23] Chuxel commented on #422
//cc: @testforstephen @akaroml - Some feedback on the dev container for Java.

[2020-07-22 09:11] cmp102 opened #425 "More verbose output on docker-compose build errors"

[2020-07-22 12:29] #425 closed

[2020-07-22 12:30] cmp102 commented on #425
This was the wrong place, sorry

[2020-07-23 09:08] testforstephen commented on #422
@Chuxel Looks like this is not a Java specific issue, i see other dev container such as go is using the similar logic. It's better to have someone to fix this systematically.
https://github.com/microsoft/vscode-dev-containers/blob/dfda2f5e04c41c7902216b149d4abce1f6f54e23/containers/go/.devcontainer/Dockerfile#L65-L68

[2020-07-23 13:37] Chuxel commented on #422
@testforstephen The issue here is that it's in a different `RUN` which is not the case in other places.  Each `RUN` is a separate layer, so if the previous layer doesn't have the cleanup step in it, the contents are effectively in the image.  The Go definition you reference does not have this problem.

[2020-07-24 22:17] JoeRobich opened #428 "Default Codespaces image has misconfigured .NET Core SDKs"
- VSCode Version: 1.45.1 (VS Codespaces)
- Local OS Version: Debian 9 (Default Codespaces image)
- Name of Dev Container Definition with Issue: codespaces-linux

We've had a report on the VS Code C# extension about projects not loading properly using the default codespaces image. See https://github.com/OmniSharp/omnisharp-vscode/issues/3913

The issue seems to be that references assemblies are not

[2020-07-24 23:04] JoeRobich commented on #428
This issue seems to be that the .App.Ref packs are missing.

Installed on the default codespaces image:
![image](https://user-images.githubusercontent.com/611219/88441796-19027980-cdc7-11ea-86d2-37d8b3631084.png)

Delivered in the Linux binaries tar.gz:
![image](https://user-images.githubusercontent.com/611219/88441841-3e8f8300-cdc7-11ea-90b2-01ec37e20ead.png)

I have verified that adding only the

[2020-07-25 00:14] Chuxel commented on #428
//cc: @edgonmsft Is this solved by #404 that was just merged?

[2020-07-25 00:16] edgonmsft commented on #428
I think it will let me validate.

//cc: @dmgardiner25

[2020-07-25 01:28] Chuxel commented on #398
This should be updated in the current `dev` image `mcr.microsoft.com/vscode/devcontainers/universal:dev`

[2020-07-25 07:09] johnnyreilly commented on #418
Thanks @Chuxel - I'd love to contribute a PR but try as I might I haven't succeeded in resolving this myself. I thought raising the issue here might help to surface one from a kind soul with the answer 😉

So if you, @paillave or anyone else is able to help when you get a chance I'd greatly appreciate it. (And looking at the linked issues I'd say I'm not alone in that!)

[2020-07-26 01:41] Chuxel commented on #254
Resolved with #391

[2020-07-26 01:41] #254 closed

[2020-07-26 13:38] jongio opened #436 "Could not get jekyll container to work"
Version: 1.48.0-insider (user setup)
Commit: 731f9c25632dbbf01ee3a7892ad9d2791fe0260c
Date: 2020-07-24T05:57:10.466Z
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041
**WSL2**

- Name of Dev Container Definition with Issue: jekyll

Steps to Reproduce:

1. Clone https://github.com/azure/azure-sdk
1. Ctrl+P to add Jekyll devcontainer
1. Cr

[2020-07-26 14:57] Chuxel commented on #436
@cmendible Any thoughts here on the problems listed?

[2020-07-26 16:26] Aisuko opened #438 "minikube certificate mistakes path"
I hit issue below after the remote container was complete initial and running

[code]

- VSCode Version:

[code]

- Local OS Version: macOS Catalina
- Name of Dev Container Definition with Issue: Kubernetes and Helm
- minikube version:

[code]

Steps to Reproduce:

1.  Umount the `minikube` comment in the devcontainer.json and  use command `Open current folder in container`
2. Executing the comman

[2020-07-26 16:55] Chuxel commented on #438
Interesting - looks like they moved it!

[2020-07-26 16:56] #438 closed

[2020-07-26 19:28] cmendible commented on #436
@jongio Just added a pull request to fix the issue. You can replace the contents of your dockerfile with the one provided.

Hope it helps!

[2020-07-27 00:01] Chuxel commented on #436
Merged!  @jongio Feel free to reopen if the issue is still happening for you.

[2020-07-27 00:01] #436 closed

[2020-07-27 02:04] jongio commented on #436
@cmendible - I appreciate the effort. But I get the same error with the updated Dockerfile.  Were you able to run the site https://github.com/azure/azure-sdk with this .devcontainer?

[2020-07-27 08:30] Aisuko opened #442 "Swap out the api-server URL to host.docker.internal got mistakes."
- VSCode Version:

[code]

- Local OS Version: macOS Catalina

- Name of Dev Container Definition with Issue: kubernetes-helm

Steps to Reproduce:

1. Executing the `minikube start ` or `kind create cluster` command on macOS and docker context use local macOS docker daemon
2. Open the project includes the `kubernetes-helm` and run command `kubectl config view`

[code]

**Should change to **

[code

[2020-07-27 10:25] cmendible commented on #436
@jongio sorry I tried with one of my own repos without issues. I'll check with the https://github.com/azure/azure-sdk and come back to you with the results.

[2020-07-27 13:00] jongio commented on #436
Can you try with Ruby 2.6? I couldn’t get ghoages to work with 2.7

[2020-07-27 13:04] cmendible commented on #436
I found the culprit: **zlib1g-dev** is missing. Can you reopen the issue while a create a new PR?

[2020-07-27 13:13] jongio commented on #436
I don’t have perms to reopen the issue. But cool!

[2020-07-27 13:35] cmendible commented on #436
@Chuxel can you please check #444

[2020-07-27 13:47] #442 closed

[2020-07-27 14:34] jongio commented on #436
We are closer, I'm not getting that error, but I am now getting this when I try to run

`bundle exec jekyll serve`

get this:

[code]

Thoughts on why not use the jekyll container:
https://hub.docker.com/r/jekyll/jekyll/
https://dev.to/michael/compile-a-jekyll-project-without-installing-jekyll-or-ruby-by-using-docker-4184

Or the gh-pages container:
https://github.com/Starefossen/docker-github-pag

[2020-07-27 19:20] cmendible commented on #436
@jongio @Chuxel I'm sorry I've been messy with the fi. But with the changes in this PR: https://github.com/microsoft/vscode-dev-containers/pull/446 you´ll be able to run the site without issues.

[2020-07-27 20:57] Chuxel commented on #436
All these have been merged now.

[2020-07-27 22:37] JoeRobich commented on #428
Verified that the current version of the Symlinking script (https://github.com/microsoft/vscode-dev-containers/blob/master/containers/codespaces-linux/.devcontainer/symlinkDotNetCore.sh#L19) seems to be doing the right thing by running it in my Codespaces environment.

The issue seems to be that VS Online (Codespaces) is using an old version of the codespaces-linux .devcontainer.

These are the li

[2020-07-27 22:43] edgonmsft commented on #428
Thanks! The change to this newer version will be on this weeks release.

[2020-07-27 23:45] jongio opened #447 "Jekyll - can we run postCreateCommand: bundle install by default?"
Right now, users have to run `bundle install` manually.

Can we uncomment this line so it runs automatically?

https://github.com/microsoft/vscode-dev-containers/blob/v0.128.0/containers/jekyll/.devcontainer/devcontainer.json#L17

This is what I have:
`"postCreateCommand": "bundle install",`

Not sure you need "input.projectName"

@cmendible

[2020-07-28 02:09] Chuxel commented on #428
Great! Closing the issue here given we're now just waiting for deployment.

[2020-07-28 02:09] #428 closed

[2020-07-28 02:09] Chuxel commented on #398
Closing since this should be resolved and will be deployed into Codespaces soon.

[2020-07-28 02:09] #398 closed

[2020-07-28 07:19] cmendible commented on #447
Running bundle install without a Gemfile will result in: **Could not locate Gemfile** on startup which would be the case if you are starting a new project or you are still learning the ways of jekyll without plugins.

I'll remove the **cd ${input:projectName} &&** but leave the comments. Thoughts?

[2020-07-28 07:52] jongio commented on #447
Okay, thanks.    I was also thinking...what if we also add the serve command, so when the container loads the site is all ready to be hit.  I like that.

[2020-07-28 08:02] Aisuko opened #449 "Unable to connect to the server: certificate is not valid for host.docker.internal"
- VSCode Version:
[code]
- Local OS Version:
   macOS Catalina
- Name of Dev Container Definition with Issue: Kubernetes & Helm

Steps to Reproduce:

1. mount the `/.kube` and `/.minikube` folder into the container and run the command with `kubectl`

[code]

**The same issue I hit on `kubernetes/Kind`(macOS local executing `kind create cluster` and try to communicate the cluster in the (1kubernete

[2020-07-28 13:51] Chuxel commented on #449
I use minikube on Linux, but I use Docker's built in Kubernetes on Mac and both appear to work as expected.  What is your cert/key tied to?  If it's 127.0.0.1 or localhost, that won't work unfortunatley.

[2020-07-28 14:24] Aisuko commented on #449
I use `minikube start` and `kind create cluster ` command on macOS and Ubuntu20.04

The `server` filed in the `kubeconfig`

|Result|kind@v0.8.1|minikube@v1.12.1(mac)/v1.11.1(ubuntu20.04)|
|:---:|:---:|:---:|
|Ubuntu20.04|`server: https://127.0.0.1:35309`|`server: https://172.17.0.3:8443`|
|macOS Catalina|`server: https://127.0.0.1:61531`|`server: https://127.0.0.1:32772`|

I do not use Docker-for-

[2020-07-28 14:31] Chuxel commented on #449
Yeah the problem is that 127.0.0.1 will resolve to the container itself.  Using host networking and removing the translation to `host.docker.internal`. You could also ensure your cert allows `host.docker.internal`.

[2020-07-28 14:42] Chuxel commented on #449
Added a note on this to the README since I can see how this would be confusing: https://github.com/microsoft/vscode-dev-containers/tree/master/containers/kubernetes-helm#a-note-on-minkube-or-otherwise-using-a-local-cluster

[2020-07-28 15:06] Aisuko commented on #449
Yep, that would be one of the solutions, I believe we can close this issue.

[2020-07-28 15:06] #449 closed

[2020-07-28 20:33] JoeRobich commented on #428
When is the rollout expected for this week? I would like to validate and update our issue when it is resolved.

-Joey

From: Chuck Lantz <notifications@github.com>
Reply-To: microsoft/vscode-dev-containers <reply@reply.github.com>
Date: Monday, July 27, 2020 at 7:10 PM
To: microsoft/vscode-dev-containers <vscode-dev-containers@noreply.github.com>
Cc: Joey Robichaud <Joseph.Robichaud@microsoft.com>

[2020-07-29 15:17] Chuxel commented on #447
@cmendible Let me know your thoughts here - I'll wait on merging to avoid another update if you think this makes sense.

[2020-07-29 15:32] cmendible commented on #447
@jongio can you confirm that the PR can be merged? I know it's working for your usecase 😉

[2020-07-29 18:31] davidanthoff opened #451 "Provide an option to link to a devcontainer definition in a repo"
It would be great if users could add a `devcontainer.json` file that actually just links to a devcontainer somewhere else. Say a user could add this `devcontainer.json` to their repo:
[code]
And then the clients would pull the devcontainer file that is defined in this repository here.

The main benefit would be that if we make an update to the Julia devcontainer template, users would automatically

[2020-07-29 19:21] Chuxel commented on #220
This topic has broken out into several others and the info here is a bit stale.  Closing for now in favor of others more specific issues.

[2020-07-29 19:21] #220 closed

[2020-07-29 19:22] Chuxel commented on #451
This is a great suggestion! Moving to the vscode-remote-release repository where extension features are tracked.  Also thanks for the PR on Julia, left a few comments there as well.

[2020-07-30 09:24] johnnyreilly commented on #418
Just to share ideas that I've come upon (but don't seem to be able to get working):

[code]

I tried marrying this with `privileged: true` but it didn't seem to work

[2020-07-31 02:40] #422 closed

[2020-07-31 03:10] Chuxel commented on #186
#456 updates the Java definition to allow people to do [this](https://github.com/microsoft/vscode-dev-containers/issues/186#issuecomment-636589268).  So closing.

[2020-07-31 03:10] #186 closed

[2020-07-31 03:10] #297 closed

[2020-07-31 15:11] mhoad opened #457 "Add Ruby container"
I was looking at forking the Python example and trying to create one for Ruby but I'm pretty inexperienced with Docker and I don't know how much I trust myself to come up with anything worthwhile to contribute back. I figured given that Github itself (a Microsoft company) is developed on Rails that there might be better people out there to potentially help with something like this so I wanted to c